<html><head><link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
            margin: 0 auto;
            margin-top: 48px;
            max-width: 616px;
            padding: 0 16px;
            font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0,0,0,0.87);
        }
        h1, h2, h3 {
            font-family: 'Lexend Deca', 'Helvetica Neue', sans-serif;
        }</style>
</head>
<body>

<div id="DIV_1">
	<p id="P_2">
		<strong id="STRONG_3"><span id="SPAN_4"><span id="SPAN_5"></span></span></strong>
		<bdt id="BDT_6">
		</bdt><strong id="STRONG_7"><span id="SPAN_8"><span id="SPAN_9">PRIVACY POLICY</span></span></strong>
		<bdt id="BDT_10">
		</bdt>
	</p>
	<p id="P_11">
		<span id="SPAN_12"><strong id="STRONG_13"><span id="SPAN_14">Last updated</span></strong></span>
		<bdt id="BDT_15">
			December 03, 2019
		</bdt>
	</p>
	<p id="P_16">
	</p>
	<p id="P_18">
	</p>
	<p id="P_20">
		<span id="SPAN_21"><span id="SPAN_22">Thank you for choosing to be part of our community at</span></span>
		<bdt id="BDT_23">
			Evolutionary Virtual Assistant VE
		</bdt>
		<bdt id="BDT_24">
		</bdt>, doing business as
		<bdt id="BDT_25">
			Eva
		</bdt>
		<bdt id="BDT_26">
		</bdt> (“
		<bdt id="BDT_27">
		</bdt>
		<bdt id="BDT_28">
			<strong id="STRONG_29">Eva</strong>
		</bdt>
		<bdt id="BDT_30">
		</bdt>”, “<strong id="STRONG_31">we</strong>”, “<strong id="STRONG_32">us</strong>”, or “<strong id="STRONG_33">our</strong>”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our <span id="SPAN_34"><span id="SPAN_35"></span></span>
		<bdt id="BDT_36">
		</bdt><span id="SPAN_37"><span id="SPAN_38">policy</span></span>
		<bdt id="BDT_39">
		</bdt>, or our practices with regards to your personal information, please contact us at
		<bdt id="BDT_40">
			legal@evaapp.xyz
		</bdt>.
	</p>
	<p id="P_41">
		<span id="SPAN_42"><span id="SPAN_43">When you visit our</span></span>
		<bdt id="BDT_44">
		</bdt>website
		<bdt id="BDT_45">
			 https://evaapp.xyz/
		</bdt>,
		<bdt id="BDT_46">
		</bdt>
		<bdt id="BDT_47">
		</bdt>
		<bdt id="BDT_48">
		</bdt>
		<bdt id="BDT_49">
		</bdt> mobile application,
		<bdt id="BDT_50">
		</bdt>
		<bdt id="BDT_51">
		</bdt>
		<bdt id="BDT_52">
		</bdt>
		<bdt id="BDT_53">
		</bdt> and use our services, you trust us with your personal information. We take your privacy very seriously. In this <span id="SPAN_54"><span id="SPAN_55"></span></span>
		<bdt id="BDT_56">
		</bdt><span id="SPAN_57"><span id="SPAN_58">privacy policy</span></span>
		<bdt id="BDT_59">
		</bdt>, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this <span id="SPAN_60"><span id="SPAN_61"></span></span>
		<bdt id="BDT_62">
		</bdt><span id="SPAN_63"><span id="SPAN_64">privacy policy</span></span>
		<bdt id="BDT_65">
		</bdt> that you do not agree with, please discontinue use of our
		<bdt id="BDT_66">
		</bdt>Sites
		<bdt id="BDT_67">
		</bdt>
		<bdt id="BDT_68">
		</bdt> or
		<bdt id="BDT_69">
		</bdt>
		<bdt id="BDT_70">
		</bdt>Apps
		<bdt id="BDT_71">
		</bdt> and our services.
	</p>
	<p id="P_72">
		<span id="SPAN_73"><span id="SPAN_74">This <span id="SPAN_75"><span id="SPAN_76"></span></span></span></span>
		<bdt id="BDT_77">
		</bdt><span id="SPAN_78"><span id="SPAN_79">privacy policy</span></span>
		<bdt id="BDT_80">
		</bdt> applies to all information collected through our
		<bdt id="BDT_81">
		</bdt>
		<bdt id="BDT_82">
		</bdt>
		<bdt id="BDT_83">
			website
		</bdt>
		<bdt id="BDT_84">
		</bdt> (such as
		<bdt id="BDT_85">
			https://app.evaapp.xyz/
		</bdt>),
		<bdt id="BDT_86">
		</bdt>
		<bdt id="BDT_87">
		</bdt>
		<bdt id="BDT_88">
		</bdt>
		<bdt id="BDT_89">
		</bdt> mobile application,
		<bdt id="BDT_90">
		</bdt>
		<bdt id="BDT_91">
		</bdt>
		<bdt id="BDT_92">
		</bdt> <span id="SPAN_93">("<strong id="STRONG_94">Apps</strong>"),</span>
		<bdt id="BDT_95">
		</bdt> and/or any related services, sales, marketing or events (we refer to them collectively in this <span id="SPAN_96"><span id="SPAN_97"></span></span>
		<bdt id="BDT_98">
		</bdt><span id="SPAN_99"><span id="SPAN_100">privacy policy</span></span>
		<bdt id="BDT_101">
		</bdt> as the "<strong id="STRONG_102">Services</strong>").
	</p>
	<p id="P_103">
		<span id="SPAN_104"><strong id="STRONG_105"><span id="SPAN_106">Please read this <span id="SPAN_107"><span id="SPAN_108"></span></span></span></strong></span>
		<bdt id="BDT_109">
		</bdt><span id="SPAN_110"><span id="SPAN_111">privacy policy</span></span>
		<bdt id="BDT_112">
		</bdt> carefully as it will help you make informed decisions about sharing your personal information with us.
	</p>
	<p id="P_113">
		<span id="SPAN_114"></span>
	</p>
	<p id="P_116">
		<span id="SPAN_117"><strong id="STRONG_118"><span id="SPAN_119"><span id="SPAN_120">TABLE OF CONTENTS</span></span></strong></span>
	</p>
	<p id="P_121">
		<a href="#infocollect" id="A_122"><span id="SPAN_123">1. WHAT INFORMATION DO WE COLLECT?</span></a><span id="SPAN_124"></span>
		<bdt id="BDT_125">
		</bdt>
	</p>
	<p id="P_126">
		<a href="#infouse" id="A_127"><span id="SPAN_128">2. HOW DO WE USE YOUR INFORMATION?</span></a><span id="SPAN_129"><span id="SPAN_130"></span></span>
		<bdt id="BDT_131">
		</bdt>
	</p>
	<p id="P_132">
		<span id="SPAN_133"><a href="#infoshare" id="A_134">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</a></span>
		<bdt id="BDT_135">
			<span id="SPAN_136"></span>
		</bdt>
	</p>
	<p id="P_137">
		<span id="SPAN_138"><a href="#whoshare" id="A_139">4. WHO WILL YOUR INFORMATION BE SHARED WITH?</a><span id="SPAN_140"></span></span>
		<bdt id="BDT_141">
		</bdt><span id="SPAN_142"></span>
		<bdt id="BDT_143">
		</bdt>
	</p>
	<p id="P_144">
		<a href="#cookies" id="A_145"><span id="SPAN_146">5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</span></a><span id="SPAN_147"></span>
		<bdt id="BDT_148">
		</bdt> <span id="SPAN_149"><span id="SPAN_150"></span></span>
		<bdt id="BDT_151">
		</bdt>
		<bdt id="BDT_152">
		</bdt>
	</p>
	<p id="P_153">
		<a href="#sociallogins" id="A_154"><span id="SPAN_155"><span id="SPAN_156"><span id="SPAN_157">6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</span></span></span></a> <span id="SPAN_158"><span id="SPAN_159"><span id="SPAN_160"></span></span></span>
		<bdt id="BDT_161">
		</bdt>
		<bdt id="BDT_162">
		</bdt>
	</p>
	<p id="P_163">
		<a href="#intltransfers" id="A_164"><span id="SPAN_165">7. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</span></a><span id="SPAN_166"></span>
		<bdt id="BDT_167">
		</bdt>
		<bdt id="BDT_168">
		</bdt>
	</p>
	<p id="P_169">
		<a href="#inforetain" id="A_170"><span id="SPAN_171">8. HOW LONG DO WE KEEP YOUR INFORMATION?</span></a> <span id="SPAN_172"><span id="SPAN_173"></span></span>
		<bdt id="BDT_174">
		</bdt>
	</p>
	<p id="P_175">
		<a href="#infosafe" id="A_176"><span id="SPAN_177">9. HOW DO WE KEEP YOUR INFORMATION SAFE?</span></a> <span id="SPAN_178"> <span id="SPAN_179"><span id="SPAN_180"></span></span></span>
		<bdt id="BDT_181">
		</bdt>
		<bdt id="BDT_182">
		</bdt>
	</p>
	<p id="P_183">
		<a href="#privacyrights" id="A_184"><span id="SPAN_185">10. WHAT ARE YOUR PRIVACY RIGHTS?</span></a>
		<bdt id="BDT_186">
		</bdt>
	</p>
	<p id="P_187">
		<a href="#databreach" id="A_188"><span id="SPAN_189">11. DATA BREACH</span></a> <a href="#privacyrights" id="A_190"><span id="SPAN_191"></span></a>
		<bdt id="BDT_192">
		</bdt>
	</p>
	<p id="P_193">
		<a href="#DNT" id="A_194"><span id="SPAN_195">12. CONTROLS FOR DO-NOT-TRACK FEATURES</span></a><span id="SPAN_196"></span>
	</p>
	<p id="P_197">
		<a href="#caresidents" id="A_198"><span id="SPAN_199">13. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</span></a><span id="SPAN_200"></span>
	</p>
	<p id="P_201">
		<a href="#policyupdates" id="A_202"><span id="SPAN_203">14. DO WE MAKE UPDATES TO THIS POLICY?</span></a>
	</p>
	<p id="P_204">
		<a href="#contact" id="A_205"><span id="SPAN_206">15. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</span></a>
	</p>
	<p id="P_207">
		<span id="SPAN_208"></span>
	</p>
	<p id="P_210">
		<span id="SPAN_211"><strong id="STRONG_212"><span id="SPAN_213"><span id="SPAN_214">1. WHAT INFORMATION DO WE COLLECT?</span></span></strong></span>
	</p>
	<p id="P_215">
		<span id="SPAN_216"></span>
		<bdt id="BDT_217">
		</bdt>
	</p>
	<p id="P_219">
		<span id="SPAN_220"><strong id="STRONG_221"><span id="SPAN_222">Personal information you disclose to us</span></strong></span>
	</p>
	<p id="P_223">
		<span id="SPAN_224"><strong id="STRONG_225"><em id="EM_226"><span id="SPAN_227">In Short:</span></em></strong> <span id="SPAN_228"><em id="EM_229">We collect personal information that you provide to us such as name, address, contact information, passwords and security data,</em></span></span>
		<bdt id="BDT_230">
		</bdt> payment information, and social media login data
		<bdt id="BDT_231">
		</bdt>.
	</p>
	<p id="P_232">
		<span id="SPAN_233"><span id="SPAN_234">We collect personal information that you voluntarily provide to us when</span></span>
		<bdt id="BDT_235">
		</bdt>registering at the
		<bdt id="BDT_236">
		</bdt>Services
		<bdt id="BDT_237">
		</bdt>
		<bdt id="BDT_238">
		</bdt> or
		<bdt id="BDT_239">
		</bdt>
		<bdt id="BDT_240">
		</bdt>Apps,
		<bdt id="BDT_241">
		</bdt>
		<bdt id="BDT_242">
		</bdt> expressing an interest in obtaining information about us or our products and services, when participating in activities on the
		<bdt id="BDT_243">
		</bdt>Services
		<bdt id="BDT_244">
		</bdt>
		<bdt id="BDT_245">
		</bdt> or
		<bdt id="BDT_246">
		</bdt>
		<bdt id="BDT_247">
		</bdt>Apps
		<bdt id="BDT_248">
		</bdt>
		<bdt id="BDT_249">
		</bdt> or otherwise contacting us<span id="SPAN_250">.</span>
	</p>
	<p id="P_251">
		<span id="SPAN_252"><span id="SPAN_253">The personal information that we collect depends on the context of your interactions with us and the</span></span>
		<bdt id="BDT_254">
		</bdt>Services
		<bdt id="BDT_255">
		</bdt>
		<bdt id="BDT_256">
		</bdt> or
		<bdt id="BDT_257">
		</bdt>
		<bdt id="BDT_258">
		</bdt>Apps
		<bdt id="BDT_259">
		</bdt>, the choices you make and the products and features you use. The personal information we collect can include the following:
	</p>
	<p id="P_260">
		<span id="SPAN_261"><strong id="STRONG_262"><span id="SPAN_263"></span></strong></span>
		<bdt id="BDT_264">
		</bdt>Publicly Available Personal Information. <span id="SPAN_265">We collect</span>
		<bdt id="BDT_266">
		</bdt>
		<bdt id="BDT_267">
			first name, maiden name, last name, nickname
		</bdt>,
		<bdt id="BDT_268">
		</bdt>
		<bdt id="BDT_269">
			phone numbers
		</bdt>,
		<bdt id="BDT_270">
		</bdt>
		<bdt id="BDT_271">
			email addresses
		</bdt>,
		<bdt id="BDT_272">
		</bdt>and other similar data.<span id="SPAN_273"><strong id="STRONG_274"><span id="SPAN_275"></span></strong></span>
		<bdt id="BDT_276">
		</bdt>
	</p>
	<p id="P_277">
		<span id="SPAN_278"><strong id="STRONG_279"><span id="SPAN_280"></span></strong></span>
		<bdt id="BDT_281">
		</bdt>Personal Information Provided by You. <span id="SPAN_282">We collect</span>
		<bdt id="BDT_283">
		</bdt>
		<bdt id="BDT_284">
			app usage
		</bdt>,
		<bdt id="BDT_285">
		</bdt>and other similar data.<span id="SPAN_286"><strong id="STRONG_287"><span id="SPAN_288"></span></strong></span>
		<bdt id="BDT_289">
		</bdt>
	</p>
	<p id="P_290">
		<span id="SPAN_291"><strong id="STRONG_292"><span id="SPAN_293">Credentials.</span></strong> <span id="SPAN_294">We collect passwords, password hints, and similar security information used for authentication and account access.</span></span>
		<bdt id="BDT_295">
		</bdt>
	</p>
	<p id="P_296">
		<span id="SPAN_297"><strong id="STRONG_298"><span id="SPAN_299">Payment Data.</span></strong> <span id="SPAN_300">We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by<span id="SPAN_301"><span id="SPAN_302"></span></span></span></span>
		<bdt id="BDT_303">
		</bdt>
		<bdt id="BDT_304">
			Virtual Enterprise
		</bdt><span id="SPAN_305"><span id="SPAN_306"><span id="SPAN_307"><span id="SPAN_308"></span></span></span></span>
		<bdt id="BDT_309">
		</bdt>. You may find their privacy policy link(s) here:<span id="SPAN_310"></span>
		<bdt id="BDT_311">
		</bdt>
		<bdt id="BDT_312">
			https://portal.veinternational.org/
		</bdt><span id="SPAN_313"><span id="SPAN_314"><span id="SPAN_315"></span></span></span>
		<bdt id="BDT_316">
		</bdt>.<span id="SPAN_317"><span id="SPAN_318"></span></span>
		<bdt id="BDT_319">
		</bdt>
	</p>
	<p id="P_320">
		<span id="SPAN_321"><strong id="STRONG_322"><span id="SPAN_323">Social Media Login Data.</span></strong> <span id="SPAN_324">We provide you with the option to register using social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the Information described in the section called "</span></span><span id="SPAN_325"><a href="#sociallogins" id="A_326"><span id="SPAN_327">HOW DO WE HANDLE YOUR SOCIAL LOGINS</span></a></span> <span id="SPAN_328"><span id="SPAN_329">" below.</span><span id="SPAN_330"></span></span>
		<bdt id="BDT_331">
			<span id="SPAN_332"></span>
		</bdt>
	</p>
	<p id="P_333">
		<span id="SPAN_334"><span id="SPAN_335">All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</span><span id="SPAN_336"><span id="SPAN_337"></span></span></span>
		<bdt id="BDT_338">
		</bdt>
		<bdt id="BDT_339">
			<span id="SPAN_340"></span>
		</bdt>
	</p>
	<p id="P_341">
		<span id="SPAN_342"><strong id="STRONG_343"><span id="SPAN_344"></span></strong></span>
		<bdt id="BDT_345">
		</bdt><span id="SPAN_346"></span>
		<bdt id="BDT_347">
		</bdt>
	</p>
	<p id="P_348">
		<span id="SPAN_349"><strong id="STRONG_350"><span id="SPAN_351">Information collected through our Apps</span></strong></span>
	</p>
	<p id="P_352">
		<span id="SPAN_353"><strong id="STRONG_354"><span id="SPAN_355"><em id="EM_356"><span id="SPAN_357">In Short:</span></em></span></strong> <em id="EM_358"><span id="SPAN_359"><span id="SPAN_360">We may collect information regarding your</span></span></em></span>
		<bdt id="BDT_361">
		</bdt>
		<bdt id="BDT_362">
		</bdt>
		<bdt id="BDT_363">
		</bdt> push notifications,<span id="SPAN_364"></span>
		<bdt id="BDT_365">
		</bdt>
		<bdt id="BDT_366">
		</bdt>
		<bdt id="BDT_367">
		</bdt><span id="SPAN_368"><span id="SPAN_369"></span></span>
		<bdt id="BDT_370">
		</bdt> when you use our apps.
	</p>
	<p id="P_371">
		<span id="SPAN_372"><span id="SPAN_373"><span id="SPAN_374">If you use our Apps, we may also collect the following information:</span></span></span>
		<bdt id="BDT_375">
			<span id="SPAN_376"></span>
		</bdt>
		<bdt id="BDT_377">
		</bdt>
		<bdt id="BDT_378">
		</bdt>
		<bdt id="BDT_379">
		</bdt><br id="BR_380" />
	</p><span id="SPAN_383"><span id="SPAN_384"><em id="EM_385"><span id="SPAN_386">Push Notifications.</span></em> <span id="SPAN_387">We may request to send you push notifications regarding your account or the mobile application. If you wish to opt-out from receiving these types of communications, you may turn them off in your device’s settings.</span><span id="SPAN_388"><span id="SPAN_389"><span id="SPAN_390"></span></span></span></span></span>
	<bdt id="BDT_391">
	</bdt>
	<bdt id="BDT_392">
	</bdt>
	<bdt id="BDT_393">
	</bdt>
	<bdt id="BDT_394">
	</bdt> <span id="SPAN_395"><span id="SPAN_396"><span id="SPAN_397"></span></span></span>
	<bdt id="BDT_398">
	</bdt>
	<bdt id="BDT_399">
	</bdt><span id="SPAN_400"><span id="SPAN_401"></span></span>
	<bdt id="BDT_402">
	</bdt>
	<p id="P_403">
	</p>
	<p id="P_404">
	</p>
	<p id="P_406">
		<span id="SPAN_407"><strong id="STRONG_408"><span id="SPAN_409"><span id="SPAN_410">2. HOW DO WE USE YOUR INFORMATION?</span></span></strong></span>
	</p>
	<p id="P_411">
		<span id="SPAN_412"><strong id="STRONG_413"><em id="EM_414"><span id="SPAN_415"><span id="SPAN_416">In Short:</span></span></em></strong> <span id="SPAN_417"><em id="EM_418"><span id="SPAN_419">We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</span></em></span></span>
	</p>
	<p id="P_420">
		<span id="SPAN_421"><span id="SPAN_422"><span id="SPAN_423">We use personal information collected via our</span></span></span>
		<bdt id="BDT_424">
		</bdt>Services
		<bdt id="BDT_425">
		</bdt>
		<bdt id="BDT_426">
		</bdt> or
		<bdt id="BDT_427">
		</bdt>
		<bdt id="BDT_428">
		</bdt>Apps
		<bdt id="BDT_429">
		</bdt> for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.
	</p>
	<p id="P_430">
		<span id="SPAN_431"><span id="SPAN_432"><span id="SPAN_433"></span></span></span>
		<bdt id="BDT_434">
		</bdt>
	</p>
	<p id="P_435">
		<span id="SPAN_436"><span id="SPAN_437"><span id="SPAN_438">We use the information we collect or receive:</span></span></span>
		<bdt id="BDT_439">
		</bdt>
	</p>
	<ul id="UL_440">
		<li id="LI_441">
			<span id="SPAN_442"><span id="SPAN_443"><strong id="STRONG_444"><span id="SPAN_445">To facilitate account creation and logon process.</span></strong> <span id="SPAN_446">If you choose to link your account with us to a third party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract.</span></span></span>
			<bdt id="BDT_447">
			</bdt>See the section below headed " <span id="SPAN_448"><a href="#sociallogins" id="A_449"><span id="SPAN_450"><span id="SPAN_451">HOW DO WE HANDLE YOUR SOCIAL LOGINS</span></span></a></span> <span id="SPAN_452"><span id="SPAN_453"><span id="SPAN_454">" for further information. <span id="SPAN_455"><span id="SPAN_456"><span id="SPAN_457"></span></span></span></span></span></span>
			<bdt id="BDT_458">
			</bdt> <span id="SPAN_459"><span id="SPAN_460"><span id="SPAN_461"></span></span></span>
			<bdt id="BDT_462">
			</bdt>
			<bdt id="BDT_463">
			</bdt><br id="BR_464" />
		</li>
		<li id="LI_466">
			<span id="SPAN_467"><span id="SPAN_468"><strong id="STRONG_469"><span id="SPAN_470">To send you marketing and promotional communications.</span></strong> <span id="SPAN_471">We and/or our third party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. You can opt-out of our marketing emails at any time (see the "</span></span></span> <span id="SPAN_472"><a href="#privacyrights" id="A_473"><span id="SPAN_474"><span id="SPAN_475">WHAT ARE YOUR PRIVACY RIGHTS</span></span></a></span> <span id="SPAN_476"><span id="SPAN_477"><span id="SPAN_478">" below).</span><span id="SPAN_479"><span id="SPAN_480"><span id="SPAN_481"><span id="SPAN_482"><span id="SPAN_483"></span></span></span></span></span></span></span>
			<bdt id="BDT_484">
			</bdt>
			<bdt id="BDT_485">
			</bdt>
			<bdt id="BDT_486">
			</bdt>
			<bdt id="BDT_487">
			</bdt>
			<bdt id="BDT_488">
			</bdt>
			<bdt id="BDT_489">
			</bdt>
			<bdt id="BDT_490">
			</bdt><br id="BR_491" />
		</li>
		<li id="LI_493">
			<span id="SPAN_494"><span id="SPAN_495"><strong id="STRONG_496"><span id="SPAN_497">Request Feedback.</span></strong> <span id="SPAN_498">We may use your information to request feedback and to contact you about your use of our</span></span></span>
			<bdt id="BDT_499">
			</bdt>Services
			<bdt id="BDT_500">
			</bdt>
			<bdt id="BDT_501">
			</bdt> or
			<bdt id="BDT_502">
			</bdt>
			<bdt id="BDT_503">
			</bdt>Apps
			<bdt id="BDT_504">
			</bdt>.<span id="SPAN_505"><span id="SPAN_506"><span id="SPAN_507"><span id="SPAN_508"><span id="SPAN_509"><span id="SPAN_510"><span id="SPAN_511"><span id="SPAN_512"><span id="SPAN_513"><span id="SPAN_514"><span id="SPAN_515"><span id="SPAN_516"><span id="SPAN_517"><span id="SPAN_518"><span id="SPAN_519"><span id="SPAN_520"><span id="SPAN_521"></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
			<bdt id="BDT_522">
			</bdt>
			<bdt id="BDT_523">
			</bdt>
			<bdt id="BDT_524">
			</bdt>
			<bdt id="BDT_525">
			</bdt>
			<bdt id="BDT_526">
			</bdt><br id="BR_527" />
		</li>
		<li id="LI_529">
			<span id="SPAN_530"><span id="SPAN_531"><span id="SPAN_532"><span id="SPAN_533"><span id="SPAN_534"><span id="SPAN_535"><span id="SPAN_536"><span id="SPAN_537"><span id="SPAN_538"><span id="SPAN_539"><span id="SPAN_540"><span id="SPAN_541"><span id="SPAN_542"><span id="SPAN_543"><span id="SPAN_544"><span id="SPAN_545"><span id="SPAN_546"><span id="SPAN_547"><span id="SPAN_548"><span id="SPAN_549"><span id="SPAN_550"><span id="SPAN_551"><span id="SPAN_552"><span id="SPAN_553"><span id="SPAN_554"><span id="SPAN_555"><span id="SPAN_556"><strong id="STRONG_557">To manage user accounts</strong>. We may use your information for the purposes of managing our account and keeping it in working order. <span id="SPAN_558"><span id="SPAN_559"><span id="SPAN_560"><span id="SPAN_561"><span id="SPAN_562"><span id="SPAN_563"><span id="SPAN_564"><span id="SPAN_565"><span id="SPAN_566"><span id="SPAN_567"><span id="SPAN_568"><span id="SPAN_569"><span id="SPAN_570"><span id="SPAN_571"><span id="SPAN_572"><span id="SPAN_573"><span id="SPAN_574"><span id="SPAN_575"><span id="SPAN_576"><span id="SPAN_577"><span id="SPAN_578"><span id="SPAN_579"><span id="SPAN_580"><span id="SPAN_581"><span id="SPAN_582"><span id="SPAN_583"><span id="SPAN_584"></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
			<bdt id="BDT_585">
			</bdt>
			<bdt id="BDT_586">
			</bdt> <span id="SPAN_587"><span id="SPAN_588"><span id="SPAN_589"><span id="SPAN_590"><span id="SPAN_591"><span id="SPAN_592"><span id="SPAN_593"><span id="SPAN_594"><span id="SPAN_595"><span id="SPAN_596"><span id="SPAN_597"><span id="SPAN_598"><span id="SPAN_599"><span id="SPAN_600"><span id="SPAN_601"><span id="SPAN_602"><span id="SPAN_603"><span id="SPAN_604"><span id="SPAN_605"><span id="SPAN_606"><span id="SPAN_607"><span id="SPAN_608"><span id="SPAN_609"><span id="SPAN_610"><span id="SPAN_611"><span id="SPAN_612"></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
		</li>
		<li id="LI_614">
			<span id="SPAN_615"><span id="SPAN_616"><span id="SPAN_617"><span id="SPAN_618"><span id="SPAN_619"><span id="SPAN_620"><span id="SPAN_621"><span id="SPAN_622"><span id="SPAN_623"><span id="SPAN_624"><span id="SPAN_625"><span id="SPAN_626"><span id="SPAN_627"><span id="SPAN_628"><span id="SPAN_629"><span id="SPAN_630"><span id="SPAN_631"><span id="SPAN_632"><span id="SPAN_633"><span id="SPAN_634"><span id="SPAN_635"><span id="SPAN_636"><span id="SPAN_637"><span id="SPAN_638"><span id="SPAN_639"><span id="SPAN_640"><span id="SPAN_641"><strong id="STRONG_642">To deliver services to the user.</strong> We may use your information to provide you with the requested service. <span id="SPAN_643"><span id="SPAN_644"><span id="SPAN_645"><span id="SPAN_646"><span id="SPAN_647"><span id="SPAN_648"><span id="SPAN_649"><span id="SPAN_650"><span id="SPAN_651"><span id="SPAN_652"><span id="SPAN_653"><span id="SPAN_654"><span id="SPAN_655"><span id="SPAN_656"><span id="SPAN_657"><span id="SPAN_658"><span id="SPAN_659"><span id="SPAN_660"><span id="SPAN_661"><span id="SPAN_662"><span id="SPAN_663"><span id="SPAN_664"><span id="SPAN_665"><span id="SPAN_666"><span id="SPAN_667"><span id="SPAN_668"><span id="SPAN_669"><span id="SPAN_670"><span id="SPAN_671"><span id="SPAN_672"><span id="SPAN_673"><span id="SPAN_674"><span id="SPAN_675"><span id="SPAN_676"><span id="SPAN_677"><span id="SPAN_678"><span id="SPAN_679"><span id="SPAN_680"><span id="SPAN_681"><span id="SPAN_682"><span id="SPAN_683"><span id="SPAN_684"><span id="SPAN_685"><span id="SPAN_686"><span id="SPAN_687"><span id="SPAN_688"><span id="SPAN_689"><span id="SPAN_690"><span id="SPAN_691"><span id="SPAN_692"><span id="SPAN_693"><span id="SPAN_694"><span id="SPAN_695"><span id="SPAN_696"></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
			<bdt id="BDT_697">
			</bdt>
			<bdt id="BDT_698">
			</bdt><br id="BR_699" />
		</li>
		<li id="LI_701">
			<span id="SPAN_702"><span id="SPAN_703"><span id="SPAN_704"><span id="SPAN_705"><span id="SPAN_706"><span id="SPAN_707"><span id="SPAN_708"><span id="SPAN_709"><span id="SPAN_710"><span id="SPAN_711"><span id="SPAN_712"><span id="SPAN_713"><span id="SPAN_714"><span id="SPAN_715"><span id="SPAN_716"><span id="SPAN_717"><span id="SPAN_718"><span id="SPAN_719"><span id="SPAN_720"><span id="SPAN_721"><span id="SPAN_722"><span id="SPAN_723"><span id="SPAN_724"><span id="SPAN_725"><span id="SPAN_726"><span id="SPAN_727"><span id="SPAN_728"><strong id="STRONG_729">To respond to user inquiries/offer support to users.</strong> We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
			<bdt id="BDT_730">
			</bdt> <span id="SPAN_731"><span id="SPAN_732"><span id="SPAN_733"><span id="SPAN_734"><span id="SPAN_735"><span id="SPAN_736"><span id="SPAN_737"><span id="SPAN_738"><span id="SPAN_739"><span id="SPAN_740"><span id="SPAN_741"><span id="SPAN_742"><span id="SPAN_743"><span id="SPAN_744"><span id="SPAN_745"><span id="SPAN_746"><span id="SPAN_747"><span id="SPAN_748"><span id="SPAN_749"><span id="SPAN_750"><span id="SPAN_751"><span id="SPAN_752"><span id="SPAN_753"><span id="SPAN_754"><span id="SPAN_755"></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
			<bdt id="BDT_756">
			</bdt><br id="BR_757" />
		</li>
		<li id="LI_759">
			<span id="SPAN_760"><strong id="STRONG_761"><span id="SPAN_762">For other Business Purposes.</span></strong> <span id="SPAN_763">We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our</span></span>
			<bdt id="BDT_764">
			</bdt>Services
			<bdt id="BDT_765">
			</bdt>
			<bdt id="BDT_766">
			</bdt> or
			<bdt id="BDT_767">
			</bdt>
			<bdt id="BDT_768">
			</bdt>Apps
			<bdt id="BDT_769">
			</bdt>, products, marketing and your experience. <span id="SPAN_770"><span id="SPAN_771"><span id="SPAN_772"><span id="SPAN_773"><span id="SPAN_774"><span id="SPAN_775"><span id="SPAN_776"><span id="SPAN_777"><span id="SPAN_778"><span id="SPAN_779"><span id="SPAN_780"><span id="SPAN_781"><span id="SPAN_782"><span id="SPAN_783"><span id="SPAN_784"><span id="SPAN_785"><span id="SPAN_786"><span id="SPAN_787"><span id="SPAN_788"><span id="SPAN_789"><span id="SPAN_790"><span id="SPAN_791"><span id="SPAN_792"><span id="SPAN_793"><span id="SPAN_794"><span id="SPAN_795"><span id="SPAN_796">We may use and store this information in aggregated and anonymized form so that it is not associated with individual end users and does not include personal information. We will not use identifiable personal information without your consent.<span id="SPAN_797"><span id="SPAN_798"><span id="SPAN_799"><span id="SPAN_800"><span id="SPAN_801"><span id="SPAN_802"><span id="SPAN_803"><span id="SPAN_804"><span id="SPAN_805"><span id="SPAN_806"><span id="SPAN_807"><span id="SPAN_808"><span id="SPAN_809"><span id="SPAN_810"><span id="SPAN_811"><span id="SPAN_812"><span id="SPAN_813"><span id="SPAN_814"><span id="SPAN_815"><span id="SPAN_816"><span id="SPAN_817"><span id="SPAN_818"><span id="SPAN_819"><span id="SPAN_820"><span id="SPAN_821"><span id="SPAN_822"><span id="SPAN_823"><span id="SPAN_824"><span id="SPAN_825"><span id="SPAN_826"><span id="SPAN_827"><span id="SPAN_828"><span id="SPAN_829"><span id="SPAN_830"><span id="SPAN_831"><span id="SPAN_832"><span id="SPAN_833"><span id="SPAN_834"><span id="SPAN_835"><span id="SPAN_836"><span id="SPAN_837"><span id="SPAN_838"><span id="SPAN_839"><span id="SPAN_840"><span id="SPAN_841"><span id="SPAN_842"><span id="SPAN_843"><span id="SPAN_844"><span id="SPAN_845"><span id="SPAN_846"><span id="SPAN_847"><span id="SPAN_848"><span id="SPAN_849"><span id="SPAN_850"><span id="SPAN_851"><span id="SPAN_852"><span id="SPAN_853"></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
			<bdt id="BDT_854">
			</bdt> <span id="SPAN_855"><span id="SPAN_856"><span id="SPAN_857"><span id="SPAN_858"><span id="SPAN_859"><span id="SPAN_860"><span id="SPAN_861"><span id="SPAN_862"><span id="SPAN_863"><span id="SPAN_864"><span id="SPAN_865"><span id="SPAN_866"><span id="SPAN_867"><span id="SPAN_868"><span id="SPAN_869"><span id="SPAN_870"><span id="SPAN_871"><span id="SPAN_872"><span id="SPAN_873"><span id="SPAN_874"><span id="SPAN_875"><span id="SPAN_876"><span id="SPAN_877"><span id="SPAN_878"><span id="SPAN_879"><span id="SPAN_880"><span id="SPAN_881"><span id="SPAN_882"><span id="SPAN_883"><span id="SPAN_884"><span id="SPAN_885"><span id="SPAN_886"><span id="SPAN_887"><span id="SPAN_888"><span id="SPAN_889"><span id="SPAN_890"><span id="SPAN_891"><span id="SPAN_892"><span id="SPAN_893"><span id="SPAN_894"><span id="SPAN_895"><span id="SPAN_896"><span id="SPAN_897"><span id="SPAN_898"><span id="SPAN_899"><span id="SPAN_900"><span id="SPAN_901"></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
			<bdt id="BDT_902">
			</bdt>
		</li>
	</ul>
	<p id="P_903">
	</p>
	<p id="P_905">
		<span id="SPAN_906"><strong id="STRONG_907"><span id="SPAN_908"><span id="SPAN_909">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</span></span></strong></span>
	</p>
	<p id="P_910">
		<span id="SPAN_911"><strong id="STRONG_912"><em id="EM_913"><span id="SPAN_914"><span id="SPAN_915">In Short:</span></span></em></strong> <span id="SPAN_916"><em id="EM_917"><span id="SPAN_918">We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</span></em></span></span>
	</p>
	<div id="DIV_919">
	</div>
	<div id="DIV_921">
		<span id="SPAN_922"><span id="SPAN_923">We may process or share data based on the following legal basis:</span></span>
	</div>
	<ul id="UL_924">
		<li id="LI_925">
			<span id="SPAN_926"><span id="SPAN_927"><strong id="STRONG_928">Consent:</strong> We may process your data if you have given us specific consent to use your personal information in a specific purpose.</span><br id="BR_929" /></span>
		</li>
		<li id="LI_931">
			<span id="SPAN_932"><span id="SPAN_933"><strong id="STRONG_934">Legitimate Interests:</strong> We may process your data when it is reasonably necessary to achieve our legitimate business interests.</span><br id="BR_935" /></span>
		</li>
		<li id="LI_937">
			<span id="SPAN_938"><span id="SPAN_939"><strong id="STRONG_940">Performance of a Contract:</strong> Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.</span><br id="BR_941" /></span>
		</li>
		<li id="LI_943">
			<span id="SPAN_944"><span id="SPAN_945"><strong id="STRONG_946">Legal Obligations:</strong> We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).</span><br id="BR_947" /></span>
		</li>
		<li id="LI_949">
			<span id="SPAN_950"><span id="SPAN_951"><strong id="STRONG_952">Vital Interests:</strong> We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</span></span>
		</li>
	</ul>
	<p id="P_953">
		<span id="SPAN_954"><span id="SPAN_955"><span id="SPAN_956">More specifically, we may need to process your data or share your personal information in the following situations:</span></span> <span id="SPAN_957"><span id="SPAN_958"></span></span></span>
		<bdt id="BDT_959">
		</bdt>
	</p>
	<ul id="UL_960">
		<li id="LI_961">
			<span id="SPAN_962"><span id="SPAN_963"><strong id="STRONG_964"><span id="SPAN_965">Vendors, Consultants and Other Third-Party Service Providers.</span></strong> <span id="SPAN_966">We may share your data with third party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include: payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the</span></span></span>
			<bdt id="BDT_967">
			</bdt>Services
			<bdt id="BDT_968">
			</bdt>
			<bdt id="BDT_969">
			</bdt> or
			<bdt id="BDT_970">
			</bdt>
			<bdt id="BDT_971">
			</bdt>Apps
			<bdt id="BDT_972">
			</bdt>, which will enable them to collect data about how you interact with the
			<bdt id="BDT_973">
			</bdt>Services
			<bdt id="BDT_974">
			</bdt>
			<bdt id="BDT_975">
			</bdt> or
			<bdt id="BDT_976">
			</bdt>
			<bdt id="BDT_977">
			</bdt>Apps
			<bdt id="BDT_978">
			</bdt> over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes.
			<bdt id="BDT_979">
			</bdt>We have contracts in place with our data processors. This means that they cannot do anything with your personal information unless we have instructed them to do it. They will not share your personal information with any organisation apart from us. They will hold it securely and retain it for the period we instruct.<span id="SPAN_980"><span id="SPAN_981"><span id="SPAN_982"></span></span></span>
			<bdt id="BDT_983">
			</bdt> <span id="SPAN_984"><span id="SPAN_985"><span id="SPAN_986"></span></span></span>
			<bdt id="BDT_987">
			</bdt><br id="BR_988" />
		</li>
		<li id="LI_990">
			<span id="SPAN_991"><span id="SPAN_992"><strong id="STRONG_993"><span id="SPAN_994">Business Transfers.</span></strong> <span id="SPAN_995">We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</span></span></span>
			<bdt id="BDT_996">
			</bdt>
			<bdt id="BDT_997">
			</bdt>
			<bdt id="BDT_998">
			</bdt> <span id="SPAN_999"><span id="SPAN_1000"></span></span>
			<bdt id="BDT_1001">
			</bdt>
			<bdt id="BDT_1002">
			</bdt><span id="SPAN_1003"></span>
			<bdt id="BDT_1004">
				<span id="SPAN_1005"></span>
			</bdt>
			<bdt id="BDT_1006">
			</bdt>
		</li>
	</ul>
	<div id="DIV_1007">
		<bdt id="BDT_1008">
			<span id="SPAN_1009"></span>
		</bdt>
		<p id="P_1010">
			<span id="SPAN_1011"><strong id="STRONG_1012"><span id="SPAN_1013"><span id="SPAN_1014">4. WHO WILL YOUR INFORMATION BE SHARED WITH?</span></span></strong></span>
		</p>
	</div>
	<div id="DIV_1015">
		<span id="SPAN_1016"><strong id="STRONG_1017"><em id="EM_1018"><span id="SPAN_1019"><span id="SPAN_1020">In Short:</span></span></em></strong> <span id="SPAN_1021"><em id="EM_1022"><span id="SPAN_1023">We only share information with the following third parties.</span></em></span></span>
	</div>
	<div id="DIV_1024">
		<span id="SPAN_1025"><span id="SPAN_1026"></span></span>
	</div>
	<div id="DIV_1027">
		<span id="SPAN_1028"><span id="SPAN_1029"><span id="SPAN_1030">We only share and disclose your information with the following third parties. We have categorized each party so that you may be easily understand the purpose of our data collection and processing practices. If we have processed your data based on your consent and you wish to revoke your consent, please contact us.</span></span></span>
	</div>
	<div id="DIV_1031">
		<bdt id="BDT_1032">
			<span id="SPAN_1033"></span>
		</bdt>
	</div>
	<div id="DIV_1034">
		<bdt id="BDT_1035">
			<span id="SPAN_1036"></span>
		</bdt>
		<div id="DIV_1037">
			<bdt id="BDT_1038">
				<span id="SPAN_1039"></span>
			</bdt>
		</div>
		<ul id="UL_1040">
			<li id="LI_1041">
				<span id="SPAN_1042"><span id="SPAN_1043"><span id="SPAN_1044"><strong id="STRONG_1045">Allow Users to Connect to their Third-Party Accounts</strong></span></span></span><br id="BR_1046" /><span id="SPAN_1047"><span id="SPAN_1048"></span></span>
				<bdt id="BDT_1049">
					<span id="SPAN_1050"></span>
				</bdt><span id="SPAN_1051"><span id="SPAN_1052"><span id="SPAN_1053"></span></span></span>
				<bdt id="BDT_1054">
				</bdt>
				<bdt id="BDT_1055">
					Google account
				</bdt>
				<bdt id="BDT_1056">
				</bdt>
				<bdt id="BDT_1057">
				</bdt><span id="SPAN_1058"><span id="SPAN_1059"><span id="SPAN_1060"></span></span></span>
				<bdt id="BDT_1061">
				</bdt>, <span id="SPAN_1062"><span id="SPAN_1063"></span></span>
				<bdt id="BDT_1064">
					Github account
				</bdt>
				<bdt id="BDT_1065">
				</bdt>
				<bdt id="BDT_1066">
				</bdt><span id="SPAN_1067"><span id="SPAN_1068"><span id="SPAN_1069"></span></span></span>
				<bdt id="BDT_1070">
				</bdt> and
				<bdt id="BDT_1071">
					Facebook account
				</bdt><span id="SPAN_1072"><span id="SPAN_1073"><span id="SPAN_1074"><span id="SPAN_1075"></span></span></span></span>
				<bdt id="BDT_1076">
				</bdt>
				<bdt id="BDT_1077">
				</bdt>
				<bdt id="BDT_1078">
				</bdt>
			</li>
		</ul>
		<div id="DIV_1079">
			<bdt id="BDT_1080">
				<span id="SPAN_1081"></span>
			</bdt>
		</div>
		<ul id="UL_1082">
			<li id="LI_1083">
				<span id="SPAN_1084"><span id="SPAN_1085"><span id="SPAN_1086"><strong id="STRONG_1087">Cloud Computing Services</strong></span></span></span><br id="BR_1088" /><span id="SPAN_1089"><span id="SPAN_1090"></span></span>
				<bdt id="BDT_1091">
					<span id="SPAN_1092"></span>
				</bdt><span id="SPAN_1093"><span id="SPAN_1094"><span id="SPAN_1095"></span></span></span>
				<bdt id="BDT_1096">
				</bdt>
				<bdt id="BDT_1097">
					Google Cloud Platform
				</bdt>
				<bdt id="BDT_1098">
				</bdt>
				<bdt id="BDT_1099">
				</bdt>
				<bdt id="BDT_1100">
				</bdt>
			</li>
		</ul>
		<div id="DIV_1101">
			<bdt id="BDT_1102">
				<span id="SPAN_1103"></span>
			</bdt>
			<div id="DIV_1104">
				<bdt id="BDT_1105">
					<span id="SPAN_1106"></span>
				</bdt>
				<div id="DIV_1107">
					<bdt id="BDT_1108">
						<span id="SPAN_1109"></span>
					</bdt>
					<div id="DIV_1110">
						<bdt id="BDT_1111">
							<span id="SPAN_1112"></span>
						</bdt>
					</div>
					<ul id="UL_1113">
						<li id="LI_1114">
							<span id="SPAN_1115"><span id="SPAN_1116"><span id="SPAN_1117"><strong id="STRONG_1118">Functionality and Infrastructure Optimization</strong></span></span></span><br id="BR_1119" /><span id="SPAN_1120"><span id="SPAN_1121"></span></span>
							<bdt id="BDT_1122">
								<span id="SPAN_1123"></span>
							</bdt><span id="SPAN_1124"><span id="SPAN_1125"><span id="SPAN_1126"></span></span></span>
							<bdt id="BDT_1127">
							</bdt>
							<bdt id="BDT_1128">
								Cloud Firestore
							</bdt>
							<bdt id="BDT_1129">
							</bdt>
							<bdt id="BDT_1130">
							</bdt>
							<bdt id="BDT_1131">
							</bdt>
						</li>
					</ul>
					<div id="DIV_1132">
						<bdt id="BDT_1133">
							<span id="SPAN_1134"></span>
						</bdt>
						<div id="DIV_1135">
							<bdt id="BDT_1136">
								<span id="SPAN_1137"></span>
							</bdt>
							<div id="DIV_1138">
								<bdt id="BDT_1139">
									<span id="SPAN_1140"></span>
								</bdt>
								<div id="DIV_1141">
									<bdt id="BDT_1142">
										<span id="SPAN_1143"></span>
									</bdt>
								</div>
								<ul id="UL_1144">
									<li id="LI_1145">
										<span id="SPAN_1146"><span id="SPAN_1147"><span id="SPAN_1148"><strong id="STRONG_1149">User Account Registration and Authentication</strong></span></span></span><br id="BR_1150" /><span id="SPAN_1151"><span id="SPAN_1152"></span></span>
										<bdt id="BDT_1153">
											<span id="SPAN_1154"></span>
										</bdt><span id="SPAN_1155"><span id="SPAN_1156"><span id="SPAN_1157"></span></span></span>
										<bdt id="BDT_1158">
										</bdt>
										<bdt id="BDT_1159">
											Facebook Login
										</bdt>
										<bdt id="BDT_1160">
										</bdt>
										<bdt id="BDT_1161">
										</bdt><span id="SPAN_1162"><span id="SPAN_1163"><span id="SPAN_1164"></span></span></span>
										<bdt id="BDT_1165">
										</bdt>, <span id="SPAN_1166"><span id="SPAN_1167"></span></span>
										<bdt id="BDT_1168">
											Firebase Authentication
										</bdt>
										<bdt id="BDT_1169">
										</bdt>
										<bdt id="BDT_1170">
										</bdt><span id="SPAN_1171"><span id="SPAN_1172"><span id="SPAN_1173"></span></span></span>
										<bdt id="BDT_1174">
										</bdt>, <span id="SPAN_1175"><span id="SPAN_1176"></span></span>
										<bdt id="BDT_1177">
											GitHub OAuth
										</bdt>
										<bdt id="BDT_1178">
										</bdt>
										<bdt id="BDT_1179">
										</bdt><span id="SPAN_1180"><span id="SPAN_1181"><span id="SPAN_1182"></span></span></span>
										<bdt id="BDT_1183">
										</bdt> and
										<bdt id="BDT_1184">
											Google OAuth 2.0
										</bdt><span id="SPAN_1185"><span id="SPAN_1186"><span id="SPAN_1187"><span id="SPAN_1188"></span></span></span></span>
										<bdt id="BDT_1189">
										</bdt>
										<bdt id="BDT_1190">
										</bdt>
										<bdt id="BDT_1191">
										</bdt>
									</li>
								</ul>
								<div id="DIV_1192">
									<bdt id="BDT_1193">
										<span id="SPAN_1194"></span>
									</bdt>
									<div id="DIV_1195">
										<bdt id="BDT_1196">
											<span id="SPAN_1197"></span>
										</bdt>
									</div>
									<ul id="UL_1198">
										<li id="LI_1199">
											<span id="SPAN_1200"><span id="SPAN_1201"><span id="SPAN_1202"><strong id="STRONG_1203">Web and Mobile Analytics</strong></span></span></span><br id="BR_1204" /><span id="SPAN_1205"><span id="SPAN_1206"></span></span>
											<bdt id="BDT_1207">
												<span id="SPAN_1208"></span>
											</bdt><span id="SPAN_1209"><span id="SPAN_1210"><span id="SPAN_1211"></span></span></span>
											<bdt id="BDT_1212">
											</bdt>
											<bdt id="BDT_1213">
												Google Analytics
											</bdt>
											<bdt id="BDT_1214">
											</bdt>
											<bdt id="BDT_1215">
											</bdt><span id="SPAN_1216"><span id="SPAN_1217"><span id="SPAN_1218"></span></span></span>
											<bdt id="BDT_1219">
											</bdt> and
											<bdt id="BDT_1220">
												Google Analytics for Firebase
											</bdt><span id="SPAN_1221"><span id="SPAN_1222"><span id="SPAN_1223"><span id="SPAN_1224"></span></span></span></span>
											<bdt id="BDT_1225">
											</bdt>
											<bdt id="BDT_1226">
											</bdt>
											<bdt id="BDT_1227">
											</bdt>
										</li>
									</ul>
									<div id="DIV_1228">
										<bdt id="BDT_1229">
											<span id="SPAN_1230"></span>
										</bdt>
										<div id="DIV_1231">
											<bdt id="BDT_1232">
												<span id="SPAN_1233"></span>
											</bdt>
										</div>
										<ul id="UL_1234">
											<li id="LI_1235">
												<span id="SPAN_1236"><span id="SPAN_1237"><span id="SPAN_1238"><strong id="STRONG_1239">Website Performance Monitoring</strong></span></span></span><br id="BR_1240" /><span id="SPAN_1241"><span id="SPAN_1242"></span></span>
												<bdt id="BDT_1243">
													<span id="SPAN_1244"></span>
												</bdt><span id="SPAN_1245"><span id="SPAN_1246"><span id="SPAN_1247"></span></span></span>
												<bdt id="BDT_1248">
												</bdt>
												<bdt id="BDT_1249">
													Firebase Crash Reporting
												</bdt>
												<bdt id="BDT_1250">
												</bdt>
												<bdt id="BDT_1251">
												</bdt><span id="SPAN_1252"><span id="SPAN_1253"><span id="SPAN_1254"></span></span></span>
												<bdt id="BDT_1255">
												</bdt> and
												<bdt id="BDT_1256">
													Firebase Performance Monitoring
												</bdt><span id="SPAN_1257"><span id="SPAN_1258"><span id="SPAN_1259"><span id="SPAN_1260"></span></span></span></span>
												<bdt id="BDT_1261">
												</bdt>
												<bdt id="BDT_1262">
												</bdt>
												<bdt id="BDT_1263">
												</bdt>
											</li>
										</ul>
										<div id="DIV_1264">
											<bdt id="BDT_1265">
												<span id="SPAN_1266"></span>
											</bdt>
										</div>
										<ul id="UL_1267">
											<li id="LI_1268">
												<span id="SPAN_1269"><span id="SPAN_1270"><span id="SPAN_1271"><strong id="STRONG_1272">Website Testing</strong></span></span></span><br id="BR_1273" /><span id="SPAN_1274"><span id="SPAN_1275"></span></span>
												<bdt id="BDT_1276">
													<span id="SPAN_1277"></span>
												</bdt><span id="SPAN_1278"><span id="SPAN_1279"><span id="SPAN_1280"></span></span></span>
												<bdt id="BDT_1281">
												</bdt>
												<bdt id="BDT_1282">
													Google Play Console
												</bdt>
												<bdt id="BDT_1283">
												</bdt>
												<bdt id="BDT_1284">
												</bdt><span id="SPAN_1285"><span id="SPAN_1286"><span id="SPAN_1287"></span></span></span>
												<bdt id="BDT_1288">
												</bdt>, <span id="SPAN_1289"><span id="SPAN_1290"></span></span>
												<bdt id="BDT_1291">
													Google Website Optimizer
												</bdt>
												<bdt id="BDT_1292">
												</bdt>
												<bdt id="BDT_1293">
												</bdt><span id="SPAN_1294"><span id="SPAN_1295"><span id="SPAN_1296"></span></span></span>
												<bdt id="BDT_1297">
												</bdt> and
												<bdt id="BDT_1298">
													TestFlight
												</bdt><span id="SPAN_1299"><span id="SPAN_1300"><span id="SPAN_1301"><span id="SPAN_1302"></span></span></span></span>
												<bdt id="BDT_1303">
												</bdt>
												<bdt id="BDT_1304">
												</bdt>
												<bdt id="BDT_1305">
												</bdt>
											</li>
										</ul>
										<div id="DIV_1306">
											<span id="SPAN_1307"></span><span id="SPAN_1308"></span><span id="SPAN_1309"></span><span id="SPAN_1310"></span><span id="SPAN_1311"></span><span id="SPAN_1312"></span>
											<bdt id="BDT_1313">
											</bdt><span id="SPAN_1314"><span id="SPAN_1315"><span id="SPAN_1316"><span id="SPAN_1317"><span id="SPAN_1318"></span></span></span></span></span>
											<bdt id="BDT_1319">
												<span id="SPAN_1320"></span>
											</bdt>
										</div>
										<div id="DIV_1321">
										</div>
										<div id="DIV_1323">
											<span id="SPAN_1324"><strong id="STRONG_1325"><span id="SPAN_1326"><span id="SPAN_1327">5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</span></span></strong></span>
										</div>
										<p id="P_1328">
											<span id="SPAN_1329"><strong id="STRONG_1330"><em id="EM_1331"><span id="SPAN_1332"><span id="SPAN_1333">In Short:</span></span></em></strong> <span id="SPAN_1334"><em id="EM_1335"><span id="SPAN_1336">We may use cookies and other tracking technologies to collect and store your information.</span></em></span></span>
										</p>
										<p id="P_1337">
											<span id="SPAN_1338"><span id="SPAN_1339">We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy</span></span>
											<bdt id="BDT_1340">
											</bdt>.<span id="SPAN_1341"><span id="SPAN_1342"><span id="SPAN_1343"><span id="SPAN_1344"><span id="SPAN_1345"><span id="SPAN_1346"></span></span></span></span></span></span>
											<bdt id="BDT_1347">
											</bdt> <span id="SPAN_1348"><span id="SPAN_1349"><span id="SPAN_1350"><span id="SPAN_1351"><span id="SPAN_1352"><span id="SPAN_1353"></span></span></span></span></span></span>
											<bdt id="BDT_1354">
											</bdt>
											<bdt id="BDT_1355">
											</bdt>
										</p>
										<p id="P_1356">
											<span id="SPAN_1357"></span>
										</p>
										<p id="P_1359">
											<span id="SPAN_1360"><strong id="STRONG_1361"><span id="SPAN_1362"><span id="SPAN_1363">6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</span></span></strong></span>
										</p>
										<p id="P_1364">
											<span id="SPAN_1365"><strong id="STRONG_1366"><em id="EM_1367"><span id="SPAN_1368"><span id="SPAN_1369">In Short:</span></span></em></strong> <span id="SPAN_1370"><em id="EM_1371"><span id="SPAN_1372">If you choose to register or log in to our services using a social media account, we may have access to certain information about you.</span></em></span></span>
										</p>
										<p id="P_1373">
											<span id="SPAN_1374"><span id="SPAN_1375"><span id="SPAN_1376">Our</span></span></span>
											<bdt id="BDT_1377">
											</bdt>Services
											<bdt id="BDT_1378">
											</bdt>
											<bdt id="BDT_1379">
											</bdt> or
											<bdt id="BDT_1380">
											</bdt>
											<bdt id="BDT_1381">
											</bdt>Apps
											<bdt id="BDT_1382">
											</bdt> offer you the ability to register and login using your third party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, e-mail address, friends list, profile picture as well as other information you choose to make public.
											<bdt id="BDT_1383">
											</bdt>
											<bdt id="BDT_1384">
											</bdt>
											<bdt id="BDT_1385">
											</bdt>
											<bdt id="BDT_1386">
											</bdt>
											<bdt id="BDT_1387">
												<span id="SPAN_1388"></span>
											</bdt>
										</p>
										<p id="P_1389">
											<span id="SPAN_1390"><span id="SPAN_1391">We will use the information we receive only for the purposes that are described in this <span id="SPAN_1392"><span id="SPAN_1393"></span></span></span></span>
											<bdt id="BDT_1394">
											</bdt><span id="SPAN_1395"><span id="SPAN_1396">privacy policy</span></span>
											<bdt id="BDT_1397">
											</bdt> or that are otherwise made clear to you on the
											<bdt id="BDT_1398">
											</bdt>Services
											<bdt id="BDT_1399">
											</bdt>
											<bdt id="BDT_1400">
											</bdt> or
											<bdt id="BDT_1401">
											</bdt>
											<bdt id="BDT_1402">
											</bdt>Apps
											<bdt id="BDT_1403">
											</bdt>. Please note that we do not control, and are not responsible for, other uses of your personal information by your third party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.<span id="SPAN_1404"><span id="SPAN_1405"><span id="SPAN_1406"><span id="SPAN_1407"><span id="SPAN_1408"><span id="SPAN_1409"><span id="SPAN_1410"><span id="SPAN_1411"></span></span></span></span></span></span></span></span>
											<bdt id="BDT_1412">
											</bdt>
											<bdt id="BDT_1413">
												<span id="SPAN_1414"></span>
											</bdt>
										</p>
										<p id="P_1415">
											<span id="SPAN_1416"></span>
										</p>
										<p id="P_1418">
											<span id="SPAN_1419"><strong id="STRONG_1420"><span id="SPAN_1421"><span id="SPAN_1422">7. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</span></span></strong></span>
										</p>
										<p id="P_1423">
											<span id="SPAN_1424"><strong id="STRONG_1425"><em id="EM_1426"><span id="SPAN_1427"><span id="SPAN_1428">In Short:</span></span></em></strong> <span id="SPAN_1429"><em id="EM_1430"><span id="SPAN_1431">We may transfer, store, and process your information in countries other than your own.</span></em></span></span>
										</p>
										<p id="P_1432">
											<span id="SPAN_1433"><span id="SPAN_1434"><span id="SPAN_1435">Our servers are located in</span></span></span>
											<bdt id="BDT_1436">
											</bdt>
											<bdt id="BDT_1437">
											</bdt>
											<bdt id="BDT_1438">
												South Korea
											</bdt>
											<bdt id="BDT_1439">
											</bdt>
											<bdt id="BDT_1440">
											</bdt>
											<bdt id="BDT_1441">
												,
											</bdt>
											<bdt id="BDT_1442">
												Canada
											</bdt>
											<bdt id="BDT_1443">
											</bdt>
											<bdt id="BDT_1444">
											</bdt>
											<bdt id="BDT_1445">
												,
											</bdt>
											<bdt id="BDT_1446">
												United States
											</bdt>
											<bdt id="BDT_1447">
											</bdt>
											<bdt id="BDT_1448">
											</bdt>
											<bdt id="BDT_1449">
												,
											</bdt>
											<bdt id="BDT_1450">
												Brazil
											</bdt>
											<bdt id="BDT_1451">
											</bdt>
											<bdt id="BDT_1452">
											</bdt>
											<bdt id="BDT_1453">
												,
											</bdt>
											<bdt id="BDT_1454">
												United Kingdom
											</bdt>
											<bdt id="BDT_1455">
											</bdt>
											<bdt id="BDT_1456">
											</bdt>
											<bdt id="BDT_1457">
												,
											</bdt>
											<bdt id="BDT_1458">
												Germany
											</bdt>
											<bdt id="BDT_1459">
											</bdt>
											<bdt id="BDT_1460">
											</bdt>
											<bdt id="BDT_1461">
												,
											</bdt>
											<bdt id="BDT_1462">
												Switzerland
											</bdt>
											<bdt id="BDT_1463">
											</bdt>
											<bdt id="BDT_1464">
											</bdt>
											<bdt id="BDT_1465">
												,
											</bdt>
											<bdt id="BDT_1466">
												India
											</bdt>
											<bdt id="BDT_1467">
											</bdt>
											<bdt id="BDT_1468">
											</bdt>
											<bdt id="BDT_1469">
												,
											</bdt>
											<bdt id="BDT_1470">
												Hong Kong
											</bdt>
											<bdt id="BDT_1471">
											</bdt>
											<bdt id="BDT_1472">
											</bdt>
											<bdt id="BDT_1473">
												,
											</bdt>
											<bdt id="BDT_1474">
												Japan
											</bdt>
											<bdt id="BDT_1475">
											</bdt>
											<bdt id="BDT_1476">
											</bdt>
											<bdt id="BDT_1477">
												,
											</bdt>
											<bdt id="BDT_1478">
												Australia
											</bdt>
											<bdt id="BDT_1479">
											</bdt>
											<bdt id="BDT_1480">
											</bdt>
											<bdt id="BDT_1481">
												,
											</bdt>
											<bdt id="BDT_1482">
												Singapore
											</bdt>
											<bdt id="BDT_1483">
											</bdt>
											<bdt id="BDT_1484">
											</bdt>
											<bdt id="BDT_1485">
												,
											</bdt> and
											<bdt id="BDT_1486">
												Netherlands
											</bdt>
											<bdt id="BDT_1487">
											</bdt>
											<bdt id="BDT_1488">
											</bdt>. If you are accessing our
											<bdt id="BDT_1489">
											</bdt>Services
											<bdt id="BDT_1490">
											</bdt>
											<bdt id="BDT_1491">
											</bdt> or
											<bdt id="BDT_1492">
											</bdt>
											<bdt id="BDT_1493">
											</bdt>Apps
											<bdt id="BDT_1494">
											</bdt> from outside
											<bdt id="BDT_1495">
											</bdt>
											<bdt id="BDT_1496">
											</bdt>
											<bdt id="BDT_1497">
												South Korea
											</bdt>
											<bdt id="BDT_1498">
											</bdt>
											<bdt id="BDT_1499">
											</bdt>
											<bdt id="BDT_1500">
											</bdt>,
											<bdt id="BDT_1501">
												Canada
											</bdt>
											<bdt id="BDT_1502">
											</bdt>
											<bdt id="BDT_1503">
											</bdt>
											<bdt id="BDT_1504">
											</bdt>,
											<bdt id="BDT_1505">
												United States
											</bdt>
											<bdt id="BDT_1506">
											</bdt>
											<bdt id="BDT_1507">
											</bdt>
											<bdt id="BDT_1508">
											</bdt>,
											<bdt id="BDT_1509">
												Brazil
											</bdt>
											<bdt id="BDT_1510">
											</bdt>
											<bdt id="BDT_1511">
											</bdt>
											<bdt id="BDT_1512">
											</bdt>,
											<bdt id="BDT_1513">
												United Kingdom
											</bdt>
											<bdt id="BDT_1514">
											</bdt>
											<bdt id="BDT_1515">
											</bdt>
											<bdt id="BDT_1516">
											</bdt>,
											<bdt id="BDT_1517">
												Germany
											</bdt>
											<bdt id="BDT_1518">
											</bdt>
											<bdt id="BDT_1519">
											</bdt>
											<bdt id="BDT_1520">
											</bdt>,
											<bdt id="BDT_1521">
												Switzerland
											</bdt>
											<bdt id="BDT_1522">
											</bdt>
											<bdt id="BDT_1523">
											</bdt>
											<bdt id="BDT_1524">
											</bdt>,
											<bdt id="BDT_1525">
												India
											</bdt>
											<bdt id="BDT_1526">
											</bdt>
											<bdt id="BDT_1527">
											</bdt>
											<bdt id="BDT_1528">
											</bdt>,
											<bdt id="BDT_1529">
												Hong Kong
											</bdt>
											<bdt id="BDT_1530">
											</bdt>
											<bdt id="BDT_1531">
											</bdt>
											<bdt id="BDT_1532">
											</bdt>,
											<bdt id="BDT_1533">
												Japan
											</bdt>
											<bdt id="BDT_1534">
											</bdt>
											<bdt id="BDT_1535">
											</bdt>
											<bdt id="BDT_1536">
											</bdt>,
											<bdt id="BDT_1537">
												Australia
											</bdt>
											<bdt id="BDT_1538">
											</bdt>
											<bdt id="BDT_1539">
											</bdt>
											<bdt id="BDT_1540">
											</bdt>,
											<bdt id="BDT_1541">
												Singapore
											</bdt>
											<bdt id="BDT_1542">
											</bdt>
											<bdt id="BDT_1543">
											</bdt>
											<bdt id="BDT_1544">
												,
											</bdt> and
											<bdt id="BDT_1545">
												Netherlands
											</bdt>
											<bdt id="BDT_1546">
											</bdt>
											<bdt id="BDT_1547">
											</bdt>, please be aware that your information may be transferred to, stored, and processed by us in our facilities and by those third parties with whom we may share your personal information (see " <span id="SPAN_1548"><a href="#infoshare" id="A_1549"><span id="SPAN_1550"><span id="SPAN_1551">WILL YOUR INFORMATION BE SHARED WITH ANYONE?</span></span></a></span> <span id="SPAN_1552"><span id="SPAN_1553"><span id="SPAN_1554">" above), in</span></span></span>
											<bdt id="BDT_1555">
											</bdt>
											<bdt id="BDT_1556">
												United States
											</bdt>,
											<bdt id="BDT_1557">
											</bdt> and other countries.
										</p>
										<p id="P_1558">
											<span id="SPAN_1559"><span id="SPAN_1560"><span id="SPAN_1561">If you are a resident in the European Economic Area, then these countries may not have data protection or other laws as comprehensive as those in your country. We will however take all necessary measures to protect your personal information in accordance with this <span id="SPAN_1562"><span id="SPAN_1563"></span></span></span></span></span>
											<bdt id="BDT_1564">
											</bdt><span id="SPAN_1565"><span id="SPAN_1566">privacy policy</span></span>
											<bdt id="BDT_1567">
											</bdt> and applicable law.
											<bdt id="BDT_1568">
											</bdt>
											<bdt id="BDT_1569">
											</bdt>
										</p>
										<p id="P_1570">
											<span id="SPAN_1571"><span id="SPAN_1572"><span id="SPAN_1573">EU-U.S. Privacy Shield Framework:</span></span></span>
										</p>
										<p id="P_1574">
											<span id="SPAN_1575"><span id="SPAN_1576"><span id="SPAN_1577">In particular Company complies with the EU-U.S. Privacy Shield Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information transferred from the European Union to the United States and has certified its compliance with it. As such, Company is committed to subjecting all personal information received from European Union (EU) member countries, in reliance on the Privacy Shield Framework, to the Framework’s applicable Principles. To learn more about the Privacy Shield Framework, visit the</span></span> <span id="SPAN_1578"><span id="SPAN_1579"><a href="https://www.privacyshield.gov/list" id="A_1580">U.S. Department of Commerce’s Privacy Shield List</a></span></span><span id="SPAN_1581"><span id="SPAN_1582">.</span></span></span>
										</p>
										<p id="P_1583">
											<span id="SPAN_1584"><span id="SPAN_1585"><span id="SPAN_1586">Company is responsible for the processing of personal information it receives, under the Privacy Shield Framework, and subsequently transfers to a third party acting as an agent on its behalf.</span></span></span>
										</p>
										<p id="P_1587">
											<span id="SPAN_1588"><span id="SPAN_1589"><span id="SPAN_1590">With respect to personal information received or transferred pursuant to the Privacy Shield Framework, Company is subject to the regulatory enforcement powers of the U.S. FTC. In certain situations, we may be required to disclose personal information in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.<span id="SPAN_1591"><span id="SPAN_1592"></span></span></span></span></span>
											<bdt id="BDT_1593">
											</bdt>
											<bdt id="BDT_1594">
											</bdt> <span id="SPAN_1595"><span id="SPAN_1596"><span id="SPAN_1597"><span id="SPAN_1598"><span id="SPAN_1599"><span id="SPAN_1600"><span id="SPAN_1601"><span id="SPAN_1602"><span id="SPAN_1603"></span></span></span></span></span></span></span></span></span>
											<bdt id="BDT_1604">
											</bdt>
											<bdt id="BDT_1605">
											</bdt>
										</p>
										<p id="P_1606">
											<span id="SPAN_1607"></span>
										</p>
										<p id="P_1609">
											<span id="SPAN_1610"><strong id="STRONG_1611"><span id="SPAN_1612"><span id="SPAN_1613">8. HOW LONG DO WE KEEP YOUR INFORMATION?</span></span></strong></span>
										</p>
										<p id="P_1614">
											<span id="SPAN_1615"><strong id="STRONG_1616"><em id="EM_1617"><span id="SPAN_1618"><span id="SPAN_1619">In Short:</span></span></em></strong> <span id="SPAN_1620"><em id="EM_1621"><span id="SPAN_1622">We keep your information for as long as necessary to fulfill the purposes outlined in this <span id="SPAN_1623"><span id="SPAN_1624"></span></span></span></em></span></span>
											<bdt id="BDT_1625">
											</bdt><span id="SPAN_1626"><span id="SPAN_1627">privacy policy</span></span>
											<bdt id="BDT_1628">
											</bdt> unless otherwise required by law.
										</p>
										<p id="P_1629">
											<span id="SPAN_1630"><span id="SPAN_1631"><span id="SPAN_1632">We will only keep your personal information for as long as it is necessary for the purposes set out in this <span id="SPAN_1633"><span id="SPAN_1634"></span></span></span></span></span>
											<bdt id="BDT_1635">
											</bdt><span id="SPAN_1636"><span id="SPAN_1637">privacy policy</span></span>
											<bdt id="BDT_1638">
											</bdt>, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than
											<bdt id="BDT_1639">
											</bdt>
											<bdt id="BDT_1640">
												the period of time in which users have an account with us
											</bdt>
											<bdt id="BDT_1641">
											</bdt>.
										</p>
										<p id="P_1642">
											<span id="SPAN_1643"><span id="SPAN_1644">When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</span></span><span id="SPAN_1645"></span>
											<bdt id="BDT_1646">
											</bdt>
										</p>
										<div id="DIV_1647">
										</div>
										<p id="P_1649">
											<span id="SPAN_1650"><strong id="STRONG_1651"><span id="SPAN_1652"><span id="SPAN_1653">9. HOW DO WE KEEP YOUR INFORMATION SAFE?</span></span></strong></span>
										</p>
										<p id="P_1654">
											<span id="SPAN_1655"><strong id="STRONG_1656"><em id="EM_1657"><span id="SPAN_1658"><span id="SPAN_1659">In Short:</span></span></em></strong> <span id="SPAN_1660"><em id="EM_1661"><span id="SPAN_1662">We aim to protect your personal information through a system of organizational and technical security measures.</span></em></span></span>
										</p>
										<p id="P_1663">
											<span id="SPAN_1664"><span id="SPAN_1665">We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our</span></span>
											<bdt id="BDT_1666">
											</bdt>Services
											<bdt id="BDT_1667">
											</bdt>
											<bdt id="BDT_1668">
											</bdt> or
											<bdt id="BDT_1669">
											</bdt>
											<bdt id="BDT_1670">
											</bdt>Apps
											<bdt id="BDT_1671">
											</bdt> is at your own risk. You should only access the services within a secure environment.<span id="SPAN_1672"></span>
											<bdt id="BDT_1673">
											</bdt> <span id="SPAN_1674"><span id="SPAN_1675"></span></span>
											<bdt id="BDT_1676">
											</bdt>
										</p>
										<p id="P_1677">
											<span id="SPAN_1678"></span>
										</p>
										<p id="P_1680">
											<span id="SPAN_1681"><strong id="STRONG_1682"><span id="SPAN_1683"><span id="SPAN_1684">10. WHAT ARE YOUR PRIVACY RIGHTS?</span></span></strong></span>
										</p>
										<p id="P_1685">
											<span id="SPAN_1686"><strong id="STRONG_1687"><em id="EM_1688"><span id="SPAN_1689"><span id="SPAN_1690">In Short:</span></span></em></strong> <span id="SPAN_1691"><span id="SPAN_1692"><em id="EM_1693"></em></span></span></span>
											<bdt id="BDT_1694">
											</bdt>In some regions, such as the European Economic Area, you have rights that allow you greater access to and control over your personal information.
											<bdt id="BDT_1695">
											</bdt>You may review, change, or terminate your account at any time.
											<bdt id="BDT_1696">
												<span id="SPAN_1697"></span>
											</bdt>
										</p>
										<p id="P_1698">
											<span id="SPAN_1699"><span id="SPAN_1700"><span id="SPAN_1701">In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the</span></span></span> <span id="SPAN_1702"><a href="#contact" id="A_1703"><span id="SPAN_1704"><span id="SPAN_1705">contact details</span></span></a></span> <span id="SPAN_1706"><span id="SPAN_1707"><span id="SPAN_1708">provided below. We will consider and act upon any request in accordance with applicable data protection laws.</span></span></span>
										</p>
										<p id="P_1709">
											<span id="SPAN_1710"><span id="SPAN_1711"><span id="SPAN_1712">If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.<span id="SPAN_1713"><span id="SPAN_1714"></span></span></span></span></span>
											<bdt id="BDT_1715">
											</bdt>
										</p>
										<p id="P_1716">
											<span id="SPAN_1717"><span id="SPAN_1718"><span id="SPAN_1719">If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here:</span></span></span> <span id="SPAN_1720"><span id="SPAN_1721"><span id="SPAN_1722"><a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm" id="A_1723">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.</span></span></span> <span id="SPAN_1724"><span id="SPAN_1725"></span></span>
											<bdt id="BDT_1726">
												<span id="SPAN_1727"></span>
											</bdt><span id="SPAN_1728"><span id="SPAN_1729"></span></span>
											<bdt id="BDT_1730">
											</bdt>
										</p>
										<p id="P_1731">
											<span id="SPAN_1732"><span id="SPAN_1733"><span id="SPAN_1734">If you have questions or comments about your privacy rights, you may email us at</span></span></span>
											<bdt id="BDT_1735">
												privacy@evaapp.xyz
											</bdt>.
											<bdt id="BDT_1736">
											</bdt> <span id="SPAN_1737"></span>
										</p>
										<p id="P_1739">
											<span id="SPAN_1740"><span id="SPAN_1741"><strong id="STRONG_1742"><span id="SPAN_1743">Account Information</span></strong></span></span>
										</p>
										<p id="P_1744">
											<span id="SPAN_1745"><span id="SPAN_1746"><span id="SPAN_1747">If you would at any time like to review or change the information in your account or terminate your account, you can:</span></span></span>
											<bdt id="BDT_1748">
											</bdt>
										</p>
										<p id="P_1749">
											■ <span id="SPAN_1750"><span id="SPAN_1751"><span id="SPAN_1752"></span></span></span>
											<bdt id="BDT_1753">
												Log into your account settings and update your user account.
											</bdt>
											<bdt id="BDT_1754">
											</bdt>
										</p>
										<p id="P_1755">
											■ <span id="SPAN_1756"><span id="SPAN_1757"><span id="SPAN_1758"></span></span></span>
											<bdt id="BDT_1759">
												Contact us using the contact information provided.
											</bdt>
											<bdt id="BDT_1760">
											</bdt>
										</p>
										<p id="P_1761">
											<span id="SPAN_1762"><span id="SPAN_1763"><span id="SPAN_1764">Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</span><span id="SPAN_1765"><span id="SPAN_1766"><span id="SPAN_1767"><span id="SPAN_1768"><span id="SPAN_1769"></span></span></span></span></span></span></span>
											<bdt id="BDT_1770">
											</bdt>
											<bdt id="BDT_1771">
											</bdt>
										</p>
										<p id="P_1772">
											<span id="SPAN_1773"><span id="SPAN_1774"><strong id="STRONG_1775"><span id="SPAN_1777">Cookies and similar technologies:</span></strong> <span id="SPAN_1778">Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our</span></span></span>
											<bdt id="BDT_1779">
											</bdt>Services
											<bdt id="BDT_1780">
											</bdt>
											<bdt id="BDT_1781">
											</bdt> or
											<bdt id="BDT_1782">
											</bdt>
											<bdt id="BDT_1783">
											</bdt>Apps
											<bdt id="BDT_1784">
											</bdt>. To opt-out of interest-based advertising by advertisers on our
											<bdt id="BDT_1785">
											</bdt>Services
											<bdt id="BDT_1786">
											</bdt>
											<bdt id="BDT_1787">
											</bdt> or
											<bdt id="BDT_1788">
											</bdt> <span id="SPAN_1789"><span id="SPAN_1790"></span></span>
											<bdt id="BDT_1791">
											</bdt>Apps
											<bdt id="BDT_1792">
											</bdt> visit <span id="SPAN_1793"><a href="http://www.aboutads.info/choices/" id="A_1794"><span id="SPAN_1795"><span id="SPAN_1796">http://www.aboutads.info/choices/</span></span></a></span> <span id="SPAN_1797"><span id="SPAN_1798"><span id="SPAN_1799">.</span></span></span>
											<bdt id="BDT_1800">
											</bdt><span id="SPAN_1801"><span id="SPAN_1802"><span id="SPAN_1803"><span id="SPAN_1804"><span id="SPAN_1805"><span id="SPAN_1806"></span></span></span></span></span></span>
											<bdt id="BDT_1807">
											</bdt><span id="SPAN_1808"></span>
											<bdt id="BDT_1809">
											</bdt>
										</p>
										<p id="P_1810">
											<span id="SPAN_1811"><span id="SPAN_1812"><strong id="STRONG_1813"><span id="SPAN_1815">Opting out of email marketing:</span></strong> <span id="SPAN_1816">You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list – however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may:</span></span></span>
											<bdt id="BDT_1817">
											</bdt>
										</p>
										<p id="P_1818">
											■ <span id="SPAN_1819"> <span id="SPAN_1820"><span id="SPAN_1821"></span></span></span>
											<bdt id="BDT_1822">
												Contact us using the contact information provided.
											</bdt>
											<bdt id="BDT_1823">
											</bdt><span id="SPAN_1824"><span id="SPAN_1825"><span id="SPAN_1826"><span id="SPAN_1827"></span></span></span></span>
											<bdt id="BDT_1828">
												<bdt id="BDT_1829">
												</bdt>
											</bdt>
										</p>
										<p id="P_1830">
											<strong id="STRONG_1831"><span id="SPAN_1832"><br id="BR_1833" />11. DATA BREACH</span></strong>
										</p>
										<p id="P_1834">
											<span id="SPAN_1835">A privacy breach occurs when there is unauthorized access to or collection, use, disclosure or disposal of personal information. You will be notified about data breaches when</span>
											<bdt id="BDT_1836">
												Evolutionary Virtual Assistant VE 
											</bdt> believes you are likely to be at risk or serious harm. For example, a data breach may be likely to result in serious financial harm or harm to your mental or physical well-being. In the event that
											<bdt id="BDT_1837">
												Evolutionary Virtual Assistant VE 
											</bdt> becomes aware of a security breach which has resulted or may result in unauthorized access, use or disclosure of personal information
											<bdt id="BDT_1838">
												Evolutionary Virtual Assistant VE 
											</bdt> will promptly investigate the matter and notify the applicable Supervisory Authority not later than 72 hours after having become aware of it, unless the personal data breach is unlikely to result in a risk to the rights and freedoms of natural persons.<span id="SPAN_1839"><span id="SPAN_1840"><span id="SPAN_1841"><span id="SPAN_1842"><span id="SPAN_1843"></span></span></span></span></span>
											<bdt id="BDT_1844">
												<bdt id="BDT_1845">
												</bdt>
											</bdt>
										</p>
										<p id="P_1846">
											<span id="SPAN_1847"><strong id="STRONG_1848"><span id="SPAN_1849"><span id="SPAN_1850"><br id="BR_1851" />12. CONTROLS FOR DO-NOT-TRACK FEATURES</span></span></strong></span>
										</p>
										<p id="P_1852">
											<span id="SPAN_1853"><span id="SPAN_1854"><span id="SPAN_1855">Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this <span id="SPAN_1856"><span id="SPAN_1857"></span></span></span></span></span>
											<bdt id="BDT_1858">
											</bdt><span id="SPAN_1859"><span id="SPAN_1860">privacy policy</span></span>
											<bdt id="BDT_1861">
											</bdt> .
										</p>
										<div id="DIV_1862">
										</div>
										<div id="DIV_1864">
											<span id="SPAN_1865"><strong id="STRONG_1866"><span id="SPAN_1867"><span id="SPAN_1868">13. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</span></span></strong></span>
										</div>
										<p id="P_1869">
											<span id="SPAN_1870"><strong id="STRONG_1871"><em id="EM_1872"><span id="SPAN_1873"><span id="SPAN_1874">In Short:</span></span></em></strong> <span id="SPAN_1875"><em id="EM_1876"><span id="SPAN_1877">Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.</span></em></span></span>
										</p>
										<p id="P_1878">
											<span id="SPAN_1879"><span id="SPAN_1880"><span id="SPAN_1881">California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</span></span></span>
										</p>
										<p id="P_1882">
											<span id="SPAN_1883"><span id="SPAN_1884">If you are under 18 years of age, reside in California, and have a registered account with the</span></span>
											<bdt id="BDT_1885">
											</bdt>Services
											<bdt id="BDT_1886">
											</bdt>
											<bdt id="BDT_1887">
											</bdt> or
											<bdt id="BDT_1888">
											</bdt>
											<bdt id="BDT_1889">
											</bdt>Apps
											<bdt id="BDT_1890">
											</bdt>, you have the right to request removal of unwanted data that you publicly post on the
											<bdt id="BDT_1891">
											</bdt>Services
											<bdt id="BDT_1892">
											</bdt>
											<bdt id="BDT_1893">
											</bdt> or
											<bdt id="BDT_1894">
											</bdt>
											<bdt id="BDT_1895">
											</bdt>Apps
											<bdt id="BDT_1896">
											</bdt>. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the
											<bdt id="BDT_1897">
											</bdt>Services
											<bdt id="BDT_1898">
											</bdt>
											<bdt id="BDT_1899">
											</bdt> or
											<bdt id="BDT_1900">
											</bdt>
											<bdt id="BDT_1901">
											</bdt>Apps
											<bdt id="BDT_1902">
											</bdt>, but please be aware that the data may not be completely or comprehensively removed from our systems.
										</p>
										<p id="P_1903">
											<span id="SPAN_1904"></span>
										</p>
										<p id="P_1906">
											<span id="SPAN_1907"><strong id="STRONG_1908"><span id="SPAN_1909"><span id="SPAN_1910">14. DO WE MAKE UPDATES TO THIS POLICY?</span></span></strong></span>
										</p>
										<p id="P_1911">
											<span id="SPAN_1912"><strong id="STRONG_1913"><em id="EM_1914"><span id="SPAN_1915"><span id="SPAN_1916">In Short:</span></span></em></strong> <span id="SPAN_1917"><em id="EM_1918"><span id="SPAN_1919">Yes, we will update this policy as necessary to stay compliant with relevant laws.</span></em></span></span>
										</p>
										<p id="P_1920">
											<span id="SPAN_1921"><span id="SPAN_1922">We may update this <span id="SPAN_1923"><span id="SPAN_1924"></span></span></span></span>
											<bdt id="BDT_1925">
											</bdt><span id="SPAN_1926"><span id="SPAN_1927">privacy policy</span></span>
											<bdt id="BDT_1928">
											</bdt> from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this <span id="SPAN_1929"><span id="SPAN_1930"></span></span>
											<bdt id="BDT_1931">
											</bdt><span id="SPAN_1932"><span id="SPAN_1933">privacy policy</span></span>
											<bdt id="BDT_1934">
											</bdt>, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this <span id="SPAN_1935"><span id="SPAN_1936"></span></span>
											<bdt id="BDT_1937">
											</bdt><span id="SPAN_1938"><span id="SPAN_1939">privacy policy</span></span>
											<bdt id="BDT_1940">
											</bdt> frequently to be informed of how we are protecting your information.
										</p>
										<p id="P_1941">
											<span id="SPAN_1942"></span>
										</p>
										<p id="P_1944">
											<span id="SPAN_1945"><strong id="STRONG_1946"><span id="SPAN_1947"><span id="SPAN_1948">15. HOW CAN YOU CONTACT US ABOUT THIS POLICY?</span></span></strong></span>
										</p>
										<p id="P_1949">
											<span id="SPAN_1950"><span id="SPAN_1951">If you have questions or comments about this policy, you may</span></span>
											<bdt id="BDT_1952">
											</bdt><span id="SPAN_1953"><span id="SPAN_1954">contact our Data Protection Officer (DPO),</span></span> <span id="SPAN_1955"><span id="SPAN_1956"></span></span>
											<bdt id="BDT_1957">
												Gavin Stark
											</bdt>, by email at
											<bdt id="BDT_1958">
												gavin@evaapp.xyz
											</bdt><span id="SPAN_1959">,</span>
											<bdt id="BDT_1960">
											</bdt> <span id="SPAN_1961">by phone at</span>
											<bdt id="BDT_1962">
												‪(949) 216-0803‬
											</bdt>,
											<bdt id="BDT_1963">
												<span id="SPAN_1964"></span>
											</bdt><span id="SPAN_1965"><span id="SPAN_1966"></span></span>
											<bdt id="BDT_1967">
											</bdt> or by post to:
										</p>
										<div id="DIV_1968">
											<span id="SPAN_1969"></span>
											<bdt id="BDT_1970">
												<span id="SPAN_1971"><span id="SPAN_1972">Evolutionary Virtual Assistant VE </span><span id="SPAN_1973"></span></span>
											</bdt> <span id="SPAN_1974"><span id="SPAN_1975"><span id="SPAN_1976"></span></span></span>
											<bdt id="BDT_1977">
											</bdt>
										</div>
										<div id="DIV_1978">
											<span id="SPAN_1979"><span id="SPAN_1980"><span id="SPAN_1981"><span id="SPAN_1982"></span></span></span></span>
											<bdt id="BDT_1983">
												Gavin Stark
											</bdt>
											<bdt id="BDT_1984">
											</bdt>
										</div>
										<div id="DIV_1985">
											<span id="SPAN_1986"><span id="SPAN_1987"><span id="SPAN_1988"><span id="SPAN_1989"></span></span></span></span>
											<bdt id="BDT_1990">
												4771 Campus Dr
											</bdt>
											<bdt id="BDT_1991">
											</bdt>
										</div>
										<div id="DIV_1992">
											<span id="SPAN_1993"><span id="SPAN_1994"><span id="SPAN_1995"></span></span></span>
											<bdt id="BDT_1996">
												Irvine
											</bdt>
											<bdt id="BDT_1997">
											</bdt>
											<bdt id="BDT_1998">
											</bdt>,
											<bdt id="BDT_1999">
												CA
											</bdt>
											<bdt id="BDT_2000">
											</bdt>
											<bdt id="BDT_2001">
											</bdt>
											<bdt id="BDT_2002">
											</bdt>
											<bdt id="BDT_2003">
												92612
											</bdt>
											<bdt id="BDT_2004">
											</bdt><span id="SPAN_2005"><span id="SPAN_2006"></span></span>
											<bdt id="BDT_2007">
											</bdt>
											<bdt id="BDT_2008">
											</bdt>
											<bdt id="BDT_2009">
											</bdt>
										</div>
										<div id="DIV_2010">
											<span id="SPAN_2011"><span id="SPAN_2012"><span id="SPAN_2013"><span id="SPAN_2014"></span></span></span></span>
											<bdt id="BDT_2015">
												United States
											</bdt> <span id="SPAN_2016"><span id="SPAN_2017"><span id="SPAN_2018"></span></span></span>
											<bdt id="BDT_2019">
											</bdt>
											<bdt id="BDT_2020">
												<span id="SPAN_2021"><span id="SPAN_2022"></span></span>
												<bdt id="BDT_2023">
												</bdt>
											</bdt><span id="SPAN_2024"></span>
											<bdt id="BDT_2025">
											</bdt>
											<bdt id="BDT_2026">
											</bdt> <span id="SPAN_2027"><span id="SPAN_2028"><span id="SPAN_2029"></span></span></span>
											<bdt id="BDT_2030">
											</bdt>
										</div>
										<div id="DIV_2031">
										</div>
										<div id="DIV_2033">
											<bdt id="BDT_2034">
											</bdt>
										</div>
										<style id="STYLE_2035">ul {
        list-style-type: square;
      }
      ul > li > ul {
        list-style-type: circle;
      }
      ul > li > ul > li > ul {
        list-style-type: square;
      }
      ol li {
        font-family: Arial ;
      }
										</style>
									</div>
									<div id="DIV_2036">
											<h1 id="H1_2037">
												How can you review, update, or delete the data we collect from you?
											</h1>
											<div id="DIV_2038">
												Based on the laws of some countries, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please submit a request form by clicking <a href="/notify/44718280-5992-4e12-848b-a7f0b615a3c7" id="A_2039">here</a>. We will respond to your request within 30 days.
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
