<html>
    <head>
        <% include materialheadcdn.ejs %>      
        <% include includes/metatags.ejs %>   
		<% include includes/bootstrap-hydrogen.ejs %>
                <!-- main css -->
                <link rel="stylesheet" href="/css/style.css">
				<link rel="stylesheet" href="/css/responsive.css">
				<link rel="stylesheet" href="/css/stark.css">
		 
		<!--Drift Chat Plugin-->
		<% include includes/drift-insert.ejs %>
    </head>
    <body data-spy="scroll" data-target="#mainNav" data-offset="70">
        
		<!--================Header Menu Area =================-->
		<% include includes/header-menu.ejs %>
        <!--================Header Menu Area =================-->
        
        
        
        <!--================ start footer Area  =================-->	
		<% include includes/footer-area.ejs %>
		<!--================ End footer Area  =================-->
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stellar.js"></script>
        <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope-min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/vendors/counter-up/jquery.counterup.js"></script>
        <script src="/js/mail-script.js"></script>
        <script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
		<script src="/js/theme.js"></script>
		<% include includes/index-parts/easter-egg.ejs %>
    </body>
</html>
