<html><head><link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
            margin: 0 auto;
            margin-top: 48px;
            max-width: 616px;
            padding: 0 16px;
            font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0,0,0,0.87);
        }
        h1, h2, h3 {
            font-family: 'Lexend Deca', 'Helvetica Neue', sans-serif;
        }</style>
</head><body><div id="DIV_1">
	<style id="STYLE_2">[data-custom-class='body'],[data-custom-class='body'] *{background: transparent !important;
}[data-custom-class='title'],[data-custom-class='title'] *{font-family: Arial !important;
font-size: 26px !important;
color: #000000 !important;
}[data-custom-class='subtitle'],[data-custom-class='subtitle'] *{font-family: Arial !important;
color: #595959 !important;
font-size: 14px !important;
}[data-custom-class='heading_1'],[data-custom-class='heading_1'] *{font-family: Arial !important;
font-size: 19px !important;
color: #000000 !important;
}[data-custom-class='heading_2'],[data-custom-class='heading_2'] *{font-family: Arial !important;
font-size: 17px !important;
color: #000000 !important;
}[data-custom-class='body_text'],[data-custom-class='body_text'] *{color: #595959 !important;
font-size: 14px !important;
font-family: Arial !important;
}[data-custom-class='link'],[data-custom-class='link'] *{color: #3030F1 !important;
font-size: 14px !important;
font-family: Arial !important;
word-break: break-word !important;
}
	</style>
	<div id="DIV_3">
			<div id="DIV_4">
				<div id="DIV_5">
					<div id="DIV_6">
						<a name="_2cipo4yr3w5d" id="A_7"></a>
						<div id="DIV_8">
							<div id="DIV_9">
								<a name="_gm5sejt4p02f" id="A_10"></a>
								<div id="DIV_11">
									<strong id="STRONG_12"><span id="SPAN_13">TERMS OF USE</span></strong>
								</div>
								<div id="DIV_14">
									<a name="_7m5b3xg56u7y" id="A_15"></a>
								</div>
								<div id="DIV_16">
								</div>
								<div id="DIV_18">
									<span id="SPAN_19"><strong id="STRONG_20">Last updated</strong></span>
									<bdt id="BDT_21">
										December 05, 2019
									</bdt> <span id="SPAN_22"><strong id="STRONG_23"></strong></span>
								</div>
							</div>
						</div>
						<div id="DIV_24">
							<span id="SPAN_25"></span>
						</div>
						<div id="DIV_26">
							<span id="SPAN_27"></span>
						</div>
					</div>
					<div id="DIV_29">
						<span id="SPAN_30"></span>
					</div>
					<div id="DIV_31">
						<a name="_a7mwfgcrtsqn" id="A_32"></a><strong id="STRONG_33"><span id="SPAN_34">AGREEMENT TO TERMS</span></strong>
					</div>
					<div id="DIV_35">
						<span id="SPAN_36"></span>
					</div>
					<div id="DIV_37">
						<span id="SPAN_38">These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and</span>
						<bdt id="BDT_39">
							Evolutionary Virtual Assistant VE
						</bdt>
						<bdt id="BDT_40">
						</bdt>, doing business as
						<bdt id="BDT_41">
							Eva
						</bdt>
						<bdt id="BDT_42">
						</bdt> ("
						<bdt id="BDT_43">
						</bdt>
						<bdt id="BDT_44">
							<strong id="STRONG_45">Eva</strong>
						</bdt>
						<bdt id="BDT_46">
						</bdt>", “<strong id="STRONG_47">we</strong>”, “<strong id="STRONG_48">us</strong>”, or “<strong id="STRONG_49">our</strong>”), concerning your access to and use of the
						<bdt id="BDT_50">
							https://evaapp.xyz
						</bdt> website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”). You agree that by accessing the Site, you have read, understood, and agreed to be bound by all of these Terms of Use. IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SITE AND YOU MUST DISCONTINUE USE IMMEDIATELY.
					</div>
					<div id="DIV_51">
						<span id="SPAN_52"></span>
					</div>
					<div id="DIV_53">
						<span id="SPAN_54">Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms of Use at any time and for any reason. We will alert you about any changes by updating the “Last updated” date of these Terms of Use, and you waive any right to receive specific notice of each such change. It is your responsibility to periodically review these Terms of Use to stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms of Use by your continued use of the Site after the date such revised Terms of Use are posted.</span>
					</div>
					<div id="DIV_55">
						<span id="SPAN_56"></span>
					</div>
					<div id="DIV_57">
						<span id="SPAN_58">The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.</span>
					</div>
					<div id="DIV_59">
						<span id="SPAN_60"></span>
					</div>
					<div id="DIV_61">
						<bdt id="BDT_62">
							<bdt id="BDT_63">
								<span id="SPAN_64"></span>
							</bdt>
							<bdt id="BDT_65">
								<span id="SPAN_66">The Site is intended for users who are at least 13 years of age. All users who are minors in the jurisdiction in which they reside (generally under the age of 18) must have the permission of, and be directly supervised by, their parent or guardian to use the Site. If you are a minor, you must have your parent or guardian read and agree to these Terms of Use prior to you using the Site.</span>
							</bdt>
						</bdt>
						<bdt id="BDT_67">
							<bdt id="BDT_68">
							</bdt>
						</bdt>
					</div>
					<div id="DIV_69">
						<span id="SPAN_70"></span>
					</div>
					<div id="DIV_71">
						<a name="_4rd71iod99ud" id="A_72"></a><strong id="STRONG_73"><span id="SPAN_74">INTELLECTUAL PROPERTY RIGHTS</span></strong>
					</div>
					<div id="DIV_75">
						<span id="SPAN_76"></span>
					</div>
					<div id="DIV_77">
						<span id="SPAN_78">Unless otherwise indicated, the Site is our proprietary property and all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (collectively, the “Content”) and the trademarks, service marks, and logos contained therein (the “Marks”) are owned or controlled by us or licensed to us, and are protected by copyright and trademark laws and various other intellectual property rights and unfair competition laws of the United States, foreign jurisdictions, and international conventions. The Content and the Marks are provided on the Site “AS IS” for your information and personal use only. Except as expressly provided in these Terms of Use, no part of the Site and no Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.</span>
					</div>
					<div id="DIV_79">
						<span id="SPAN_80"></span>
					</div>
					<div id="DIV_81">
						<span id="SPAN_82">Provided that you are eligible to use the Site, you are granted a limited license to access and use the Site and to download or print a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use. We reserve all rights not expressly granted to you in and to the Site, the Content and the Marks.</span>
					</div>
					<div id="DIV_83">
						<span id="SPAN_84"></span>
					</div>
					<div id="DIV_85">
						<a name="_vhkegautf00d" id="A_86"></a><strong id="STRONG_87"><span id="SPAN_88">USER REPRESENTATIONS</span></strong>
					</div>
					<div id="DIV_89">
						<span id="SPAN_90"></span>
					</div>
					<div id="DIV_91">
						<div id="DIV_92">
							<span id="SPAN_93">By using the Site, you represent and warrant that:</span>
							<bdt id="BDT_94">
								<bdt id="BDT_95">
									<bdt id="BDT_96">
									</bdt>
									<bdt id="BDT_97">
										<span id="SPAN_98">(</span><span id="SPAN_99">1</span><span id="SPAN_100">) all registration information you submit will be true, accurate, current, and complete; (</span><span id="SPAN_101">2</span><span id="SPAN_102">) you will maintain the accuracy of such information and promptly update such registration information as necessary;</span>
									</bdt>
								</bdt>
								<bdt id="BDT_103">
								</bdt>
							</bdt><span id="SPAN_104">(</span><span id="SPAN_105">3</span><span id="SPAN_106">) you have the legal capacity and you agree to comply with these Terms of Use;</span>
							<bdt id="BDT_107">
								<bdt id="BDT_108">
									<bdt id="BDT_109">
									</bdt>
									<bdt id="BDT_110">
										<span id="SPAN_111">(</span><span id="SPAN_112">4</span><span id="SPAN_113">) you are not under the age of 13;</span>
									</bdt>
								</bdt>
								<bdt id="BDT_114">
								</bdt>
							</bdt><span id="SPAN_115">(</span><span id="SPAN_116">5</span><span id="SPAN_117">) you are not a minor in the jurisdiction in which you reside</span>
							<bdt id="BDT_118">
								<bdt id="BDT_119">
									<bdt id="BDT_120">
									</bdt>
									<bdt id="BDT_121">
										, or if a minor, you have received parental permission to use the Site
									</bdt>
								</bdt>
								<bdt id="BDT_122">
								</bdt>
							</bdt>; (<span id="SPAN_123">6</span><span id="SPAN_124">) you will not access the Site through automated or non-human means, whether through a bot, script, or otherwise; (</span><span id="SPAN_125">7</span><span id="SPAN_126">) you will not use the Site for any illegal or unauthorized purpose; and (</span><span id="SPAN_127">8</span><span id="SPAN_128">) your use of the Site will not violate any applicable law or regulation.</span><span id="SPAN_129"></span>
						</div>
						<div id="DIV_130">
							<span id="SPAN_131"></span>
						</div>
						<div id="DIV_132">
							<span id="SPAN_133">If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Site (or any portion thereof).</span>
						</div>
					</div>
					<div id="DIV_134">
						<span id="SPAN_135"></span>
					</div>
					<div id="DIV_136">
						<a name="_esuoutkhaf53" id="A_137"></a>
						<bdt id="BDT_138">
							<bdt id="BDT_139">
								<span id="SPAN_140"></span>
							</bdt>
							<bdt id="BDT_141">
								<div id="DIV_142">
									<strong id="STRONG_143"><span id="SPAN_144">USER REGISTRATION</span></strong>
								</div>
								<div id="DIV_145">
									<span id="SPAN_146"></span>
								</div>
								<div id="DIV_147">
									<span id="SPAN_148">You may be required to register with the Site. You agree to keep your password confidential and will be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you select if we determine, in our sole discretion, that such username is inappropriate, obscene, or otherwise objectionable.</span>
								</div>
								<div id="DIV_149">
									<span id="SPAN_150"></span>
								</div>
							</bdt>
						</bdt><span id="SPAN_151"></span>
						<bdt id="BDT_152">
							<span id="SPAN_153"></span>
						</bdt>
					</div>
					<div id="DIV_154">
						<a name="_1voziltdxegg" id="A_155"></a>
						<div id="DIV_156">
							<strong id="STRONG_157"><span id="SPAN_158">PROHIBITED ACTIVITIES</span></strong>
						</div>
						<div id="DIV_159">
							<span id="SPAN_160"></span>
						</div>
						<div id="DIV_161">
							<span id="SPAN_162">You may not access or use the Site for any purpose other than that for which we make the Site available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.</span>
						</div>
						<div id="DIV_163">
							<span id="SPAN_164"></span>
						</div>
						<div id="DIV_165">
							<div id="DIV_166">
								<div id="DIV_167">
									<span id="SPAN_168">As a user of the Site, you agree not to:</span>
								</div>
								<div id="DIV_169">
									<span id="SPAN_170"></span>
									<div id="DIV_171">
									</div>
								</div>
							</div>
							<div id="DIV_173">
								<span id="SPAN_174"></span>
								<bdt id="BDT_175">
								</bdt><span id="SPAN_176"></span>
								<bdt id="BDT_177">
									<bdt id="BDT_178">
										<bdt id="BDT_179">
											1
										</bdt>
									</bdt>
								</bdt><span id="SPAN_180">.</span>
								<bdt id="BDT_181">
									Use the Site to advertise or offer to sell goods and services.
								</bdt>
							</div>
							<div id="DIV_182">
								<span id="SPAN_183"></span>
								<bdt id="BDT_184">
								</bdt><span id="SPAN_185"></span>
								<bdt id="BDT_186">
									<bdt id="BDT_187">
										<bdt id="BDT_188">
											2
										</bdt>
									</bdt>
								</bdt><span id="SPAN_189">.</span>
								<bdt id="BDT_190">
									Circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Site and/or the Content contained therein.
								</bdt>
							</div>
							<div id="DIV_191">
								<span id="SPAN_192"></span>
								<bdt id="BDT_193">
								</bdt><span id="SPAN_194"></span>
								<bdt id="BDT_195">
									<bdt id="BDT_196">
										<bdt id="BDT_197">
											3
										</bdt>
									</bdt>
								</bdt><span id="SPAN_198">.</span>
								<bdt id="BDT_199">
									Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords.
								</bdt>
							</div>
							<div id="DIV_200">
								<span id="SPAN_201"></span>
								<bdt id="BDT_202">
								</bdt><span id="SPAN_203"></span>
								<bdt id="BDT_204">
									<bdt id="BDT_205">
										<bdt id="BDT_206">
											4
										</bdt>
									</bdt>
								</bdt><span id="SPAN_207">.</span>
								<bdt id="BDT_208">
									Engage in unauthorized framing of or linking to the Site.
								</bdt>
							</div>
							<div id="DIV_209">
								<span id="SPAN_210"></span>
								<bdt id="BDT_211">
								</bdt><span id="SPAN_212"></span>
								<bdt id="BDT_213">
									<bdt id="BDT_214">
										<bdt id="BDT_215">
											5
										</bdt>
									</bdt>
								</bdt><span id="SPAN_216">.</span>
								<bdt id="BDT_217">
									Make improper use of our support services or submit false reports of abuse or misconduct.
								</bdt>
							</div>
							<div id="DIV_218">
								<span id="SPAN_219"></span>
								<bdt id="BDT_220">
								</bdt><span id="SPAN_221"></span>
								<bdt id="BDT_222">
									<bdt id="BDT_223">
										<bdt id="BDT_224">
											6
										</bdt>
									</bdt>
								</bdt><span id="SPAN_225">.</span>
								<bdt id="BDT_226">
									Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools.
								</bdt>
							</div>
							<div id="DIV_227">
								<span id="SPAN_228"></span>
								<bdt id="BDT_229">
								</bdt><span id="SPAN_230"></span>
								<bdt id="BDT_231">
									<bdt id="BDT_232">
										<bdt id="BDT_233">
											7
										</bdt>
									</bdt>
								</bdt><span id="SPAN_234">.</span>
								<bdt id="BDT_235">
									Interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site.
								</bdt>
							</div>
							<div id="DIV_236">
								<span id="SPAN_237"></span>
								<bdt id="BDT_238">
								</bdt><span id="SPAN_239"></span>
								<bdt id="BDT_240">
									<bdt id="BDT_241">
										<bdt id="BDT_242">
											8
										</bdt>
									</bdt>
								</bdt><span id="SPAN_243">.</span>
								<bdt id="BDT_244">
									Attempt to impersonate another user or person or use the username of another user.
								</bdt>
							</div>
							<div id="DIV_245">
								<span id="SPAN_246"></span>
								<bdt id="BDT_247">
								</bdt><span id="SPAN_248"></span>
								<bdt id="BDT_249">
									<bdt id="BDT_250">
										<bdt id="BDT_251">
											9
										</bdt>
									</bdt>
								</bdt><span id="SPAN_252">.</span>
								<bdt id="BDT_253">
									Use any information obtained from the Site in order to harass, abuse, or harm another person.
								</bdt>
							</div>
							<div id="DIV_254">
								<span id="SPAN_255"></span>
								<bdt id="BDT_256">
								</bdt><span id="SPAN_257"></span>
								<bdt id="BDT_258">
									<bdt id="BDT_259">
										<bdt id="BDT_260">
											10
										</bdt>
									</bdt>
								</bdt><span id="SPAN_261">.</span>
								<bdt id="BDT_262">
									Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.
								</bdt>
							</div>
							<div id="DIV_263">
								<span id="SPAN_264"></span>
								<bdt id="BDT_265">
								</bdt><span id="SPAN_266"></span>
								<bdt id="BDT_267">
									<bdt id="BDT_268">
										<bdt id="BDT_269">
											11
										</bdt>
									</bdt>
								</bdt><span id="SPAN_270">.</span>
								<bdt id="BDT_271">
									Systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.
								</bdt>
							</div>
							<div id="DIV_272">
								<span id="SPAN_273"></span>
								<bdt id="BDT_274">
								</bdt><span id="SPAN_275"></span>
								<bdt id="BDT_276">
									<bdt id="BDT_277">
										<bdt id="BDT_278">
											12
										</bdt>
									</bdt>
								</bdt><span id="SPAN_279">.</span>
								<bdt id="BDT_280">
									Use the Site as part of any effort to compete with us or otherwise use the Site and/or the Content for any revenue-generating endeavor or commercial enterprise.
								</bdt>
							</div>
							<div id="DIV_281">
								<span id="SPAN_282"></span>
								<bdt id="BDT_283">
								</bdt><span id="SPAN_284"></span>
								<bdt id="BDT_285">
									<bdt id="BDT_286">
										<bdt id="BDT_287">
											13
										</bdt>
									</bdt>
								</bdt><span id="SPAN_288">.</span>
								<bdt id="BDT_289">
									Harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the Site to you.
								</bdt>
							</div>
							<div id="DIV_290">
								<span id="SPAN_291"></span>
								<bdt id="BDT_292">
								</bdt><span id="SPAN_293"></span>
								<bdt id="BDT_294">
									<bdt id="BDT_295">
										<bdt id="BDT_296">
											14
										</bdt>
									</bdt>
								</bdt><span id="SPAN_297">.</span>
								<bdt id="BDT_298">
									Attempt to bypass any measures of the Site designed to prevent or restrict access to the Site, or any portion of the Site.
								</bdt>
							</div>
							<div id="DIV_299">
								<span id="SPAN_300"></span>
								<bdt id="BDT_301">
								</bdt><span id="SPAN_302"></span>
								<bdt id="BDT_303">
									<bdt id="BDT_304">
										<bdt id="BDT_305">
											15
										</bdt>
									</bdt>
								</bdt><span id="SPAN_306">.</span>
								<bdt id="BDT_307">
									Delete the copyright or other proprietary rights notice from any Content.
								</bdt>
							</div>
							<div id="DIV_308">
								<span id="SPAN_309"></span>
								<bdt id="BDT_310">
								</bdt><span id="SPAN_311"></span>
								<bdt id="BDT_312">
									<bdt id="BDT_313">
										<bdt id="BDT_314">
											16
										</bdt>
									</bdt>
								</bdt><span id="SPAN_315">.</span>
								<bdt id="BDT_316">
									Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the Site or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Site.
								</bdt>
							</div>
							<div id="DIV_317">
								<span id="SPAN_318"></span>
								<bdt id="BDT_319">
								</bdt><span id="SPAN_320"></span>
								<bdt id="BDT_321">
									<bdt id="BDT_322">
										<bdt id="BDT_323">
											17
										</bdt>
									</bdt>
								</bdt><span id="SPAN_324">.</span>
								<bdt id="BDT_325">
									Use the Site in a manner inconsistent with any applicable laws or regulations.
								</bdt>
							</div>
							<div id="DIV_326">
								<span id="SPAN_327"></span>
								<bdt id="BDT_328">
								</bdt><span id="SPAN_329"></span>
								<bdt id="BDT_330">
									<bdt id="BDT_331">
										<bdt id="BDT_332">
											18
										</bdt>
									</bdt>
								</bdt><span id="SPAN_333">.</span>
								<bdt id="BDT_334">
									Upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active information collection or transmission mechanism, including without limitation, clear graphics interchange formats (“gifs”), 1×1 pixels, web bugs, cookies, or other similar devices (sometimes referred to as “spyware” or “passive collection mechanisms” or “pcms”).
								</bdt>
							</div>
							<div id="DIV_335">
								<span id="SPAN_336"></span>
								<bdt id="BDT_337">
								</bdt><span id="SPAN_338"></span>
								<bdt id="BDT_339">
									<bdt id="BDT_340">
										<bdt id="BDT_341">
											19
										</bdt>
									</bdt>
								</bdt><span id="SPAN_342">.</span>
								<bdt id="BDT_343">
									Except as may be the result of standard search engine or Internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the Site, or using or launching any unauthorized script or other software.
								</bdt>
							</div>
							<div id="DIV_344">
								<span id="SPAN_345"></span>
								<bdt id="BDT_346">
								</bdt>
							</div>
							<div id="DIV_347">
							</div>
							<div id="DIV_349">
								<a name="_zbbv9tgty199" id="A_350"></a>
							</div>
						</div>
					</div>
					<div id="DIV_351">
						<bdt id="BDT_352">
							<bdt id="BDT_353">
								<span id="SPAN_354"></span>
							</bdt>
							<bdt id="BDT_355">
								<div id="DIV_356">
									<strong id="STRONG_357"><span id="SPAN_358">USER GENERATED CONTRIBUTIONS</span></strong>
								</div>
								<div id="DIV_359">
									<span id="SPAN_360"></span>
								</div>
								<div id="DIV_361">
									<span id="SPAN_362">The Site may invite you to chat, contribute to, or participate in blogs, message boards, online forums, and other functionality, and may provide you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute, or broadcast content and materials to us or on the Site, including but not limited to text, writings, video, audio, photographs, graphics, comments, suggestions, or personal information or other material (collectively, "Contributions"). Contributions may be viewable by other users of the Site and through third-party websites. As such, any Contributions you transmit may be treated as non-confidential and non-proprietary. When you create or make available any Contributions, you thereby represent and warrant that:</span>
								</div>
								<div id="DIV_363">
									<div id="DIV_364">
										<span id="SPAN_365"></span><span id="SPAN_366"></span>
									</div>
									<div id="DIV_367">
										<span id="SPAN_368"><span id="SPAN_369">1. The creation, distribution, transmission, public display, or performance, and the accessing, downloading, or copying of your Contributions do not and will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark, trade secret, or moral rights of any third party.<br id="BR_370" />2. You are the creator and owner of or have the necessary licenses, rights, consents, releases, and permissions to use and to authorize us, the Site, and other users of the Site to use your Contributions in any manner contemplated by the Site and these Terms of Use.<br id="BR_371" />3. You have the written consent, release, and/or permission of each and every identifiable individual person in your Contributions to use the name or likeness of each and every such identifiable individual person to enable inclusion and use of your Contributions in any manner contemplated by the Site and these Terms of Use.<br id="BR_372" />4. Your Contributions are not false, inaccurate, or misleading.<br id="BR_373" />5. Your Contributions are not unsolicited or unauthorized advertising, promotional materials, pyramid schemes, chain letters, spam, mass mailings, or other forms of solicitation.<br id="BR_374" />6. Your Contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libelous, slanderous, or otherwise objectionable (as determined by us).<br id="BR_375" />7. Your Contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.<br id="BR_376" />8. Your Contributions do not advocate the violent overthrow of any government or incite, encourage, or threaten physical harm against another.<br id="BR_377" />9. Your Contributions do not violate any applicable law, regulation, or rule.<br id="BR_378" />10. Your Contributions do not violate the privacy or publicity rights of any third party.<br id="BR_379" />11. Your Contributions do not contain any material that solicits personal information from anyone under the age of 18 or exploits people under the age of 18 in a sexual or violent manner.<br id="BR_380" />12. Your Contributions do not violate any federal or state law concerning child pornography, or otherwise intended to protect the health or well-being of minors;<br id="BR_381" />13. Your Contributions do not include any offensive comments that are connected to race, national origin, gender, sexual preference, or physical handicap.<br id="BR_382" />14. Your Contributions do not otherwise violate, or link to material that violates, any provision of these Terms of Use, or any applicable law or regulation.</span></span>
									</div>
									<div id="DIV_383">
									</div>
								</div>
								<div id="DIV_385">
									<span id="SPAN_386">Any use of the Site in violation of the foregoing violates these Terms of Use and may result in, among other things, termination or suspension of your rights to use the Site.</span>
								</div>
								<div id="DIV_387">
									<span id="SPAN_388"></span>
								</div>
							</bdt>
						</bdt>
						<bdt id="BDT_389">
							<span id="SPAN_390"></span>
						</bdt>
					</div>
					<div id="DIV_391">
						<span id="SPAN_392"><a name="_osdumdez3bsf" id="A_393"></a></span>
						<bdt id="BDT_394">
							<bdt id="BDT_395">
								<span id="SPAN_396"></span>
							</bdt>
							<bdt id="BDT_397">
								<div id="DIV_398">
									<strong id="STRONG_399"><span id="SPAN_400">CONTRIBUTION LICENSE</span></strong>
								</div>
								<div id="DIV_401">
									<span id="SPAN_402"></span>
								</div>
								<div id="DIV_403">
									<span id="SPAN_404">By posting your Contributions to any part of the Site</span>
									<bdt id="BDT_405">
										<bdt id="BDT_406">
											<bdt id="BDT_407">
											</bdt>
											<bdt id="BDT_408">
												or making Contributions accessible to the Site by linking your account from the Site to any of your social networking accounts
											</bdt>
										</bdt>
										<bdt id="BDT_409">
										</bdt>
									</bdt>, you automatically grant, and you represent and warrant that you have the right to grant, to us an unrestricted, unlimited, irrevocable, perpetual, non-exclusive, transferable, royalty-free, fully-paid, worldwide right, and license to host, use, copy, reproduce, disclose, sell, resell, publish, broadcast, retitle, archive, store, cache, publicly perform, publicly display, reformat, translate, transmit, excerpt (in whole or in part), and distribute such Contributions (including, without limitation, your image and voice) for any purpose, commercial, advertising, or otherwise, and to prepare derivative works of, or incorporate into other works, such Contributions, and grant and authorize sublicenses of the foregoing. The use and distribution may occur in any media formats and through any media channels.
								</div>
								<div id="DIV_410">
									<span id="SPAN_411"></span>
								</div>
								<div id="DIV_412">
									<span id="SPAN_413">This license will apply to any form, media, or technology now known or hereafter developed, and includes our use of your name, company name, and franchise name, as applicable, and any of the trademarks, service marks, trade names, logos, and personal and commercial images you provide. You waive all moral rights in your Contributions, and you warrant that moral rights have not otherwise been asserted in your Contributions.</span>
								</div>
								<div id="DIV_414">
									<span id="SPAN_415"></span>
								</div>
								<div id="DIV_416">
									<span id="SPAN_417">We do not assert any ownership over your Contributions. You retain full ownership of all of your Contributions and any intellectual property rights or other proprietary rights associated with your Contributions. We are not liable for any statements or representations in your Contributions provided by you in any area on the Site. You are solely responsible for your Contributions to the Site and you expressly agree to exonerate us from any and all responsibility and to refrain from any legal action against us regarding your Contributions.</span>
								</div>
								<div id="DIV_418">
									<span id="SPAN_419"></span>
								</div>
								<div id="DIV_420">
									<span id="SPAN_421">We have the right, in our sole and absolute discretion, (1) to edit, redact, or otherwise change any Contributions; (2) to re-categorize any Contributions to place them in more appropriate locations on the Site; and (3) to pre-screen or delete any Contributions at any time and for any reason, without notice. We have no obligation to monitor your Contributions.</span>
								</div>
								<div id="DIV_422">
									<span id="SPAN_423"></span>
								</div>
							</bdt>
						</bdt>
						<bdt id="BDT_424">
							<span id="SPAN_425"></span>
						</bdt>
					</div>
				</div>
				<div id="DIV_426">
					<span id="SPAN_427"><a name="_s3mgjgvn9g51" id="A_428"></a></span>
				</div>
				<bdt id="BDT_429">
					<bdt id="BDT_430">
						<bdt id="BDT_431">
							<span id="SPAN_432"></span>
						</bdt>
						<bdt id="BDT_433">
							<div id="DIV_434">
								<strong id="STRONG_435"><span id="SPAN_436">GUIDELINES FOR REVIEWS</span></strong>
							</div>
							<div id="DIV_437">
								<span id="SPAN_438"></span>
							</div>
							<div id="DIV_439">
								<span id="SPAN_440">We may provide you areas on the Site to leave reviews or ratings. When posting a review, you must comply with the following criteria: (1) you should have firsthand experience with the person/entity being reviewed; (2) your reviews should not contain offensive profanity, or abusive, racist, offensive, or hate language; (3) your reviews should not contain discriminatory references based on religion, race, gender, national origin, age, marital status, sexual orientation, or disability; (4) your reviews should not contain references to illegal activity; (5) you should not be affiliated with competitors if posting negative reviews; (6) you should not make any conclusions as to the legality of conduct; (7) you may not post any false or misleading statements; and (8) you may not organize a campaign encouraging others to post reviews, whether positive or negative.</span>
							</div>
							<div id="DIV_441">
								<span id="SPAN_442"></span>
							</div>
							<div id="DIV_443">
								<span id="SPAN_444">We may accept, reject, or remove reviews in our sole discretion. We have absolutely no obligation to screen reviews or to delete reviews, even if anyone considers reviews objectionable or inaccurate. Reviews are not endorsed by us, and do not necessarily represent our opinions or the views of any of our affiliates or partners. We do not assume liability for any review or for any claims, liabilities, or losses resulting from any review. By posting a review, you</span><span id="SPAN_445"></span> <span id="SPAN_446">hereby grant to us a perpetual, non-exclusive, worldwide, royalty-free, fully-paid, assignable, and sublicensable right and license to reproduce, modify, translate, transmit by any means, display, perform, and/or distribute all content relating to reviews.</span>
							</div>
							<div id="DIV_447">
								<span id="SPAN_448"></span>
							</div>
						</bdt>
					</bdt>
					<bdt id="BDT_449">
						<span id="SPAN_450"></span>
					</bdt>
				</bdt>
				<div id="DIV_451">
					<span id="SPAN_452"><a name="_6nl7u6ag6use" id="A_453"></a></span>
				</div>
				<bdt id="BDT_454">
					<bdt id="BDT_455">
						<bdt id="BDT_456">
							<span id="SPAN_457"></span>
						</bdt>
						<bdt id="BDT_458">
							<div id="DIV_459">
								<strong id="STRONG_460"><span id="SPAN_461">MOBILE APPLICATION LICENSE</span></strong>
							</div>
							<div id="DIV_462">
								<a name="_4p0l96wt8fhj" id="A_463"></a><span id="SPAN_464"></span>
							</div>
							<div id="DIV_465">
								<strong id="STRONG_466"><span id="SPAN_467">Use License</span></strong>
							</div>
							<div id="DIV_468">
								<span id="SPAN_469"></span>
							</div>
							<div id="DIV_470">
								<span id="SPAN_471">If you access the Site via a mobile application, then we grant you a revocable, non-exclusive, non-transferable, limited right to install and use the mobile application on wireless electronic devices owned or controlled by you, and to access and use the mobile application on such devices strictly in accordance with the terms and conditions of this mobile application license contained in these Terms of Use. You shall not: (1) decompile, reverse engineer, disassemble, attempt to derive the source code of, or decrypt the application; (2) make any modification, adaptation, improvement, enhancement, translation, or derivative work from the application; (3) violate any applicable laws, rules, or regulations in connection with your access or use of the application; (4) remove, alter, or obscure any proprietary notice (including any notice of copyright or trademark) posted by us or the licensors of the application; (5) use the application for any revenue generating endeavor, commercial enterprise, or other purpose for which it is not designed or intended; (6) make the application available over a network or other environment permitting access or use by multiple devices or users at the same time; (7) use the application for creating a product, service, or software that is, directly or indirectly, competitive with or in any way a substitute for the application; (8) use the application to send automated queries to any website or to send any unsolicited commercial e-mail; or (9) use any proprietary information or any of our interfaces or our other intellectual property in the design, development, manufacture, licensing, or distribution of any applications, accessories, or devices for use with the application.</span>
							</div>
							<div id="DIV_472">
								<span id="SPAN_473"></span>
							</div>
							<div id="DIV_474">
								<a name="_vzf0b5xscg" id="A_475"></a><strong id="STRONG_476"><span id="SPAN_477">Apple and Android Devices</span></strong>
							</div>
							<div id="DIV_478">
								<span id="SPAN_479"></span>
							</div>
							<div id="DIV_480">
								<span id="SPAN_481">The following terms apply when you use a mobile application obtained from either the Apple Store or Google Play (each an “App Distributor”) to access the Site: (1) the license granted to you for our mobile application is limited to a non-transferable license to use the application on a device that utilizes the Apple iOS or Android operating systems, as applicable, and in accordance with the usage rules set forth in the applicable App Distributor’s terms of service; (2) we are responsible for providing any maintenance and support services with respect to the mobile application as specified in the terms and conditions of this mobile application license contained in these Terms of Use or as otherwise required under applicable law, and you acknowledge that each App Distributor has no obligation whatsoever to furnish any maintenance and support services with respect to the mobile application; (3) in the event of any failure of the mobile application to conform to any applicable warranty, you may notify the applicable App Distributor, and the App Distributor, in accordance with its terms and policies, may refund the purchase price, if any, paid for the mobile application, and to the maximum extent permitted by applicable law, the App Distributor will have no other warranty obligation whatsoever with respect to the mobile application; (4) you represent and warrant that (i) you are not located in a country that is subject to a U.S. government embargo, or that has been designated by the U.S. government as a “terrorist supporting” country and (ii) you are not listed on any U.S. government list of prohibited or restricted parties; (5) you must comply with applicable third-party terms of agreement when using the mobile application, e.g., if you have a VoIP application, then you must not be in violation of their wireless data service agreement when using the mobile application; and (6) you acknowledge and agree that the App Distributors are third-party beneficiaries of the terms and conditions in this mobile application license contained in these Terms of Use, and that each App Distributor will have the right (and will be deemed to have accepted the right) to enforce the terms and conditions in this mobile application license contained in these Terms of Use against you as a third-party beneficiary thereof.</span>
							</div>
							<div id="DIV_482">
								<span id="SPAN_483"></span>
							</div>
						</bdt>
					</bdt>
					<bdt id="BDT_484">
						<span id="SPAN_485"></span>
					</bdt>
				</bdt>
				<div id="DIV_486">
					<span id="SPAN_487"><a name="_608wvaau4p51" id="A_488"></a></span>
				</div>
				<bdt id="BDT_489">
					<bdt id="BDT_490">
						<bdt id="BDT_491">
							<span id="SPAN_492"></span>
						</bdt>
						<bdt id="BDT_493">
							<div id="DIV_494">
								<strong id="STRONG_495"><span id="SPAN_496">SOCIAL MEDIA</span></strong>
							</div>
							<div id="DIV_497">
								<span id="SPAN_498"></span>
							</div>
							<div id="DIV_499">
								<span id="SPAN_500">As part of the functionality of the Site, you may link your account with online accounts you have with third-party service providers (each such account, a “Third-Party Account”) by either: (1) providing your Third-Party Account login information through the Site; or (2) allowing us to access your Third-Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third-Party Account. You represent and warrant that you are entitled to disclose your Third-Party Account login information to us and/or grant us access to your Third-Party Account, without breach by you of any of the terms and conditions that govern your use of the applicable Third-Party Account, and without obligating us to pay any fees or making us subject to any usage limitations imposed by the third-party service provider of the Third-Party Account. By granting us access to any Third-Party Accounts, you understand that (1) we may access, make available, and store (if applicable) any content that you have provided to and stored in your Third-Party Account (the “Social Network Content”) so that it is available on and through the Site via your account, including without limitation any friend lists and (2) we may submit to and receive from your Third-Party Account additional information to the extent you are notified when you link your account with the Third-Party Account. Depending on the Third-Party Accounts you choose and subject to the privacy settings that you have set in such Third-Party Accounts, personally identifiable information that you post to your Third-Party Accounts may be available on and through your account on the Site. Please note that if a Third-Party Account or associated service becomes unavailable or our access to such Third Party Account is terminated by the third-party service provider, then Social Network Content may no longer be available on and through the Site. You will have the ability to disable the connection between your account on the Site and your Third-Party Accounts at any time. PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD-PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD-PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD-PARTY SERVICE PROVIDERS. We make no effort to review any Social Network Content for any purpose, including but not limited to, for accuracy, legality, or non-infringement, and we are not responsible for any Social Network Content. You acknowledge and agree that we may access your email address book associated with a Third-Party Account and your contacts list stored on your mobile device or tablet computer solely for purposes of identifying and informing you of those contacts who have also registered to use the Site. You can deactivate the connection between the Site and your Third-Party Account by contacting us using the contact information below or through your account settings (if applicable). We will attempt to delete any information stored on our servers that was obtained through such Third-Party Account, except the username and profile picture that become associated with your account.</span>
							</div>
							<div id="DIV_501">
								<span id="SPAN_502"></span>
							</div>
						</bdt>
					</bdt>
					<bdt id="BDT_503">
						<span id="SPAN_504"></span>
					</bdt>
				</bdt>
				<div id="DIV_505">
					<a name="_wfq2hvrw11j4" id="A_506"></a><strong id="STRONG_507"><span id="SPAN_508">SUBMISSIONS</span></strong>
				</div>
				<div id="DIV_509">
					<span id="SPAN_510"></span>
				</div>
				<div id="DIV_511">
					<span id="SPAN_512">You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information regarding the Site ("Submissions") provided by you to us are non-confidential and shall become our sole property. We shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you. You hereby waive all moral rights to any such Submissions, and you hereby warrant that any such Submissions are original with you or that you have the right to submit such Submissions. You agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your Submissions.</span>
				</div>
				<div id="DIV_513">
					<span id="SPAN_514"></span>
				</div>
				<div id="DIV_515">
					<a name="_np5tpdc7g5vt" id="A_516"></a>
				</div>
				<bdt id="BDT_517">
					<bdt id="BDT_518">
						<bdt id="BDT_519">
							<span id="SPAN_520"></span>
						</bdt>
						<bdt id="BDT_521">
							<div id="DIV_522">
								<strong id="STRONG_523"><span id="SPAN_524">THIRD-PARTY WEBSITES AND CONTENT</span></strong>
							</div>
							<div id="DIV_525">
								<span id="SPAN_526"></span>
							</div>
							<div id="DIV_527">
								<span id="SPAN_528">The Site may contain (or you may be sent via the Site) links to other websites ("Third-Party Websites") as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software, and other content or items belonging to or originating from third parties ("Third-Party Content"). Such Third-Party Websites and Third-Party Content are not investigated, monitored, or checked for accuracy, appropriateness, or completeness by us, and we are not responsible for any Third-Party Websites accessed through the Site or any Third-Party Content posted on, available through, or installed from the Site, including the content, accuracy, offensiveness, opinions, reliability, privacy practices, or other policies of or contained in the Third-Party Websites or the Third-Party Content. Inclusion of, linking to, or permitting the use or installation of any Third-Party Websites or any Third-Party Content does not imply approval or endorsement thereof by us. If you decide to leave the Site and access the Third-Party Websites or to use or install any Third-Party Content, you do so at your own risk, and you should be aware these Terms of Use no longer govern. You should review the applicable terms and policies, including privacy and data gathering practices, of any website to which you navigate from the Site or relating to any applications you use or install from the Site. Any purchases you make through Third-Party Websites will be through other websites and from other companies, and we take no responsibility whatsoever in relation to such purchases which are exclusively between you and the applicable third party. You agree and acknowledge that we do not endorse the products or services offered on Third-Party Websites and you shall hold us harmless from any harm caused by your purchase of such products or services. Additionally, you shall hold us harmless from any losses sustained by you or harm caused to you relating to or resulting in any way from any Third-Party Content or any contact with Third-Party Websites.</span>
							</div>
							<div id="DIV_529">
								<span id="SPAN_530"></span>
							</div>
						</bdt>
					</bdt>
					<bdt id="BDT_531">
						<span id="SPAN_532"></span>
					</bdt>
				</bdt>
				<div id="DIV_533">
					<span id="SPAN_534"><a name="_29ce8o9pbtmi" id="A_535"></a></span>
				</div>
				<bdt id="BDT_536">
					<bdt id="BDT_537">
						<bdt id="BDT_538">
							<span id="SPAN_539"></span>
						</bdt>
					</bdt>
					<div id="DIV_540">
						<a name="_wj13r09u8u3u" id="A_541"></a><strong id="STRONG_542"><span id="SPAN_543">SITE MANAGEMENT</span></strong>
					</div>
					<div id="DIV_544">
						<span id="SPAN_545"></span>
					</div>
					<div id="DIV_546">
						<span id="SPAN_547">We reserve the right, but not the obligation, to: (1) monitor the Site for violations of these Terms of Use; (2) take appropriate legal action against anyone who, in our sole discretion, violates the law or these Terms of Use, including without limitation, reporting such user to law enforcement authorities; (3) in our sole discretion and without limitation, refuse, restrict access to, limit the availability of, or disable (to the extent technologically feasible) any of your Contributions or any portion thereof; (4) in our sole discretion and without limitation, notice, or liability, to remove from the Site or otherwise disable all files and content that are excessive in size or are in any way burdensome to our systems; and (5) otherwise manage the Site in a manner designed to protect our rights and property and to facilitate the proper functioning of the Site.</span>
					</div>
					<div id="DIV_548">
						<span id="SPAN_549"></span>
					</div>
					<div id="DIV_550">
						<a name="_jugvcvcw0oj9" id="A_551"></a>
					</div>
					<bdt id="BDT_552">
						<bdt id="BDT_553">
							<bdt id="BDT_554">
								<span id="SPAN_555"></span>
							</bdt>
							<bdt id="BDT_556">
								<div id="DIV_557">
									<strong id="STRONG_558"><span id="SPAN_559">PRIVACY POLICY</span></strong>
								</div>
								<div id="DIV_560">
									<span id="SPAN_561"></span>
								</div>
								<div id="DIV_563">
									<span id="SPAN_564">We care about data privacy and security.</span> <span id="SPAN_565">Please review our Privacy Policy:</span><b id="B_566"></b>
									<bdt id="BDT_567">
										https://evaapp.xyz/privacy.html
									</bdt><span id="SPAN_568">.</span> <span id="SPAN_569">By using the Site, you agree to be bound by our Privacy Policy, which is incorporated into these Terms of Use. Please be advised the Site is hosted in the United States. If you access the Site from the European Union, Asia, or any other region of the world with laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the United States, then through your continued use of the Site, you are transferring your data to the United States, and you expressly consent to have your data transferred to and processed in the United States.</span>
									<bdt id="BDT_570">
										<bdt id="BDT_571">
											<bdt id="BDT_572">
											</bdt>
											<bdt id="BDT_573">
												Further, we do not knowingly accept, request, or solicit information from children or knowingly market to children. Therefore, in accordance with the U.S. Children’s Online Privacy Protection Act, if we receive actual knowledge that anyone under the age of 13 has provided personal information to us without the requisite and verifiable parental consent, we will delete that information from the Site as quickly as is reasonably practical.
											</bdt>
										</bdt>
										<bdt id="BDT_574">
										</bdt>
									</bdt>
								</div>
								<div id="DIV_575">
									<span id="SPAN_576"></span>
								</div>
							</bdt>
						</bdt>
						<bdt id="BDT_577">
							<span id="SPAN_578"></span>
						</bdt>
					</bdt>
				</bdt>
			</div>
			<div id="DIV_579">
				<div id="DIV_580">
					<bdt id="BDT_581">
						<bdt id="BDT_582">
							<bdt id="BDT_583">
								<span id="SPAN_584"></span>
							</bdt>
						</bdt>
					</bdt>
				</div>
				<div id="DIV_585">
					<span id="SPAN_586"><a name="_n081pott8yce" id="A_587"></a></span>
				</div>
				<bdt id="BDT_588">
					<bdt id="BDT_589">
						<bdt id="BDT_590">
							<span id="SPAN_591"></span>
						</bdt>
					</bdt>
					<div id="DIV_592">
						<span id="SPAN_593"><a name="_sg28ikxq3swh" id="A_594"></a></span>
					</div>
					<bdt id="BDT_595">
						<bdt id="BDT_596">
							<bdt id="BDT_597">
								<span id="SPAN_598"></span>
							</bdt>
							<bdt id="BDT_599">
								<div id="DIV_600">
									<strong id="STRONG_601"><span id="SPAN_602">COPYRIGHT INFRINGEMENTS</span></strong>
								</div>
								<div id="DIV_603">
									<span id="SPAN_604"></span>
								</div>
								<div id="DIV_605">
									<span id="SPAN_606">We respect the intellectual property rights of others. If you believe that any material available on or through the Site infringes upon any copyright you own or control, please immediately notify us using the contact information provided below (a “Notification”). A copy of your Notification will be sent to the person who posted or stored the material addressed in the Notification. Please be advised that pursuant to federal law you may be held liable for damages if you make material misrepresentations in a Notification. Thus, if you are not sure that material located on or linked to by the Site infringes your copyright, you should consider first contacting an attorney.</span>
								</div>
								<div id="DIV_607">
									<span id="SPAN_608"></span>
								</div>
							</bdt>
						</bdt>
						<bdt id="BDT_609">
							<span id="SPAN_610"></span>
						</bdt>
					</bdt>
					<div id="DIV_611">
						<a name="_k3mndam4w6w1" id="A_612"></a><strong id="STRONG_613"><span id="SPAN_614">TERM AND TERMINATION</span></strong>
					</div>
					<div id="DIV_615">
						<span id="SPAN_616"></span>
					</div>
					<div id="DIV_617">
						<span id="SPAN_618">These Terms of Use shall remain in full force and effect while you use the Site. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF USE, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF USE OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR DELETE</span>
						<bdt id="BDT_619">
							<bdt id="BDT_620">
								<bdt id="BDT_621">
								</bdt>
								<bdt id="BDT_622">
									YOUR ACCOUNT AND
								</bdt>
							</bdt>
							<bdt id="BDT_623">
							</bdt>
						</bdt>ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR SOLE DISCRETION.
					</div>
					<div id="DIV_624">
						<span id="SPAN_625"></span>
					</div>
					<div id="DIV_626">
						<span id="SPAN_627">If we terminate or suspend your account for any reason, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. In addition to terminating or suspending your account, we reserve the right to take appropriate legal action, including without limitation pursuing civil, criminal, and injunctive redress.</span>
					</div>
					<div id="DIV_628">
						<span id="SPAN_629"></span>
					</div>
					<div id="DIV_630">
						<a name="_e2dep1hfgltt" id="A_631"></a><strong id="STRONG_632"><span id="SPAN_633"><span id="SPAN_634">MODIFICATIONS AND INTERRUPTIONS</span></span></strong>
					</div>
					<div id="DIV_635">
						<span id="SPAN_636"></span>
					</div>
					<div id="DIV_637">
						<span id="SPAN_638">We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our Site. We also reserve the right to modify or discontinue all or part of the Site without notice at any time. We will not be liable to you or any third party for any modification, price change, suspension, or discontinuance of the Site.</span>
					</div>
					<div id="DIV_639">
						<span id="SPAN_640"></span>
					</div>
					<div id="DIV_641">
						<span id="SPAN_642">We cannot guarantee the Site will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the Site at any time or for any reason without notice to you. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site during any downtime or discontinuance of the Site. Nothing in these Terms of Use will be construed to obligate us to maintain and support the Site or to supply any corrections, updates, or releases in connection therewith.</span>
					</div>
					<div id="DIV_643">
						<span id="SPAN_644"></span>
					</div>
					<div id="DIV_645">
						<a name="_p6vbf8atcwhs" id="A_646"></a><strong id="STRONG_647"><span id="SPAN_648"><span id="SPAN_649">GOVERNING LAW</span></span></strong>
					</div>
					<div id="DIV_650">
						<span id="SPAN_651"></span>
					</div>
					<div id="DIV_652">
						<span id="SPAN_653">These Terms of Use and your use of the Site are governed by and construed in accordance with the laws of</span>
						<bdt id="BDT_654">
							<bdt id="BDT_655">
								<bdt id="BDT_656">
								</bdt>
								<bdt id="BDT_657">
									the State of
									<bdt id="BDT_658">
										California
									</bdt>
								</bdt>
							</bdt>
							<bdt id="BDT_659">
							</bdt>
						</bdt> applicable to agreements made and to be entirely performed within<span id="SPAN_660"></span>
						<bdt id="BDT_661">
							<bdt id="BDT_662">
								<bdt id="BDT_663">
								</bdt>
								<bdt id="BDT_664">
									the State of
									<bdt id="BDT_665">
										California
									</bdt>
								</bdt>
							</bdt>
							<bdt id="BDT_666">
							</bdt>
						</bdt>, without regard to its conflict of law principles.
					</div>
					<div id="DIV_667">
						<span id="SPAN_668"></span>
					</div>
					<div id="DIV_669">
						<a name="_v5i5tjw62cyw" id="A_670"></a><strong id="STRONG_671"><span id="SPAN_672">DISPUTE RESOLUTION</span></strong>
					</div>
					<div id="DIV_673">
						<span id="SPAN_674"></span>
					</div>
					<div id="DIV_675">
						<bdt id="BDT_676">
							<bdt id="BDT_677">
								<bdt id="BDT_678">
								</bdt>
								<bdt id="BDT_679">
									<div id="DIV_680">
										<strong id="STRONG_681">Informal Negotiations</strong>
									</div>
									<div id="DIV_682">
										<span id="SPAN_683"></span>
									</div>
									<div id="DIV_684">
										<span id="SPAN_685">To expedite resolution and control the cost of any dispute, controversy, or claim related to these Terms of Use (each a "Dispute" and collectively, the “Disputes”) brought by either you or us (individually, a “Party” and collectively, the “Parties”), the Parties agree to first attempt to negotiate any Dispute (except those Disputes expressly provided below) informally for at least</span>
										<bdt id="BDT_686">
											thirty (30)
										</bdt> days before initiating arbitration. Such informal negotiations commence upon written notice from one Party to the other Party.
									</div>
									<div id="DIV_687">
										<span id="SPAN_688"></span>
									</div>
									<div id="DIV_689">
										<a name="_p2enhfx5sw3j" id="A_690"></a><strong id="STRONG_691">Binding Arbitration</strong>
									</div>
									<div id="DIV_692">
										<span id="SPAN_693"></span>
									</div>
									<div id="DIV_694">
										<span id="SPAN_695">If the Parties are unable to resolve a Dispute through informal negotiations, the Dispute (except those Disputes expressly excluded below) will be finally and exclusively resolved by binding arbitration. YOU UNDERSTAND THAT WITHOUT THIS PROVISION, YOU WOULD HAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL. The arbitration shall be commenced and conducted under the Commercial Arbitration Rules of the American Arbitration Association ("AAA") and, where appropriate, the AAA’s Supplementary Procedures for Consumer Related Disputes ("AAA Consumer Rules"), both of which are available at the AAA website www.adr.org. Your arbitration fees and your share of arbitrator compensation shall be governed by the AAA Consumer Rules and, where appropriate, limited by the AAA Consumer Rules.</span>
										<bdt id="BDT_696">
											<bdt id="BDT_697">
												<bdt id="BDT_698">
												</bdt>
											</bdt>The arbitration may be conducted in person, through the submission of documents, by phone, or online. The arbitrator will make a decision in writing, but need not provide a statement of reasons unless requested by either Party. The arbitrator must follow applicable law, and any award may be challenged if the arbitrator fails to do so. Except where otherwise required by the applicable AAA rules or applicable law, the arbitration will take place in
											<bdt id="BDT_699">
												United States of America
											</bdt> County,
											<bdt id="BDT_700">
												California
											</bdt>. Except as otherwise provided herein, the Parties may litigate in court to compel arbitration, stay proceedings pending arbitration, or to confirm, modify, vacate, or enter judgment on the award entered by the arbitrator.
										</bdt>
									</div>
									<div id="DIV_701">
										<span id="SPAN_702"></span>
									</div>
									<div id="DIV_703">
										<span id="SPAN_704">If for any reason, a Dispute proceeds in court rather than arbitration, the Dispute shall be commenced or prosecuted in the state and federal courts located in</span>
										<bdt id="BDT_705">
											Orange County
										</bdt> County,
										<bdt id="BDT_706">
											California
										</bdt>, and the Parties hereby consent to, and waive all defenses of lack of personal jurisdiction, and forum non conveniens with respect to venue and jurisdiction in such state and federal courts. Application of the United Nations Convention on Contracts for the International Sale of Goods and the the Uniform Computer Information Transaction Act (UCITA) are excluded from these Terms of Use.
									</div>
									<div id="DIV_707">
										<span id="SPAN_708"></span>
									</div>
									<div id="DIV_709">
										<span id="SPAN_710"></span>
										<bdt id="BDT_711">
											<bdt id="BDT_712">
												<bdt id="BDT_713">
												</bdt>
												<bdt id="BDT_714">
													In no event shall any Dispute brought by either Party related in any way to the Site be commenced more than
													<bdt id="BDT_715">
														one (1)
													</bdt> years after the cause of action arose.
												</bdt>
											</bdt>
											<bdt id="BDT_716">
											</bdt>
										</bdt>If this provision is found to be illegal or unenforceable, then neither Party will elect to arbitrate any Dispute falling within that portion of this provision found to be illegal or unenforceable and such Dispute shall be decided by a court of competent jurisdiction within the courts listed for jurisdiction above, and the Parties agree to submit to the personal jurisdiction of that court.
									</div>
									<div id="DIV_717">
										<a name="_xl7dsk6ndrpp" id="A_718"></a>
									</div>
									<div id="DIV_719">
										<span id="SPAN_720"></span>
									</div>
									<div id="DIV_721">
										<a name="_inlv5c77dhih" id="A_722"></a><strong id="STRONG_723">Restrictions</strong>
									</div>
									<div id="DIV_724">
										<span id="SPAN_725"></span>
									</div>
									<div id="DIV_726">
										<span id="SPAN_727">The Parties agree that any arbitration shall be limited to the Dispute between the Parties individually. To the full extent permitted by law, (a) no arbitration shall be joined with any other proceeding; (b) there is no right or authority for any Dispute to be arbitrated on a class-action basis or to utilize class action procedures; and (c) there is no right or authority for any Dispute to be brought in a purported representative capacity on behalf of the general public or any other persons.</span>
									</div>
									<div id="DIV_728">
										<span id="SPAN_729"></span>
									</div>
									<div id="DIV_730">
										<a name="_mdjlt1af25uq" id="A_731"></a><strong id="STRONG_732">Exceptions to Informal Negotiations and Arbitration</strong>
									</div>
									<div id="DIV_733">
										<span id="SPAN_734"></span>
									</div>
									<div id="DIV_735">
										<span id="SPAN_736">The Parties agree that the following Disputes are not subject to the above provisions concerning informal negotiations and binding arbitration: (a) any Disputes seeking to enforce or protect, or concerning the validity of, any of the intellectual property rights of a Party; (b) any Dispute related to, or arising from, allegations of theft, piracy, invasion of privacy, or unauthorized use; and (c) any claim for injunctive relief. If this provision is found to be illegal or unenforceable, then neither Party will elect to arbitrate any Dispute falling within that portion of this provision found to be illegal or unenforceable and such Dispute shall be decided by a court of competent jurisdiction within the courts listed for jurisdiction above, and the Parties agree to submit to the personal jurisdiction of that court.</span>
									</div>
								</bdt>
							</bdt>
							<bdt id="BDT_737">
								<bdt id="BDT_738">
									<span id="SPAN_739"></span>
								</bdt>
							</bdt>
						</bdt>
					</div>
					<div id="DIV_740">
						<span id="SPAN_741"></span>
					</div>
					<div id="DIV_742">
						<a name="_mjgzo07ttzx5" id="A_743"></a><strong id="STRONG_744"><span id="SPAN_745">CORRECTIONS</span></strong>
					</div>
					<div id="DIV_746">
						<span id="SPAN_747"></span>
					</div>
					<div id="DIV_748">
						<span id="SPAN_749">There may be information on the Site that contains typographical errors, inaccuracies, or omissions, including descriptions, pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information on the Site at any time, without prior notice.</span>
					</div>
					<div id="DIV_750">
						<span id="SPAN_751"></span>
					</div>
					<div id="DIV_752">
						<a name="_gvi74blrahf9" id="A_753"></a><strong id="STRONG_754"><span id="SPAN_755">DISCLAIMER</span></strong>
					</div>
					<div id="DIV_756">
						<span id="SPAN_757"></span>
					</div>
					<div id="DIV_758">
						<span id="SPAN_759">THE SITE IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SITE AND OUR SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SITE’S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THE SITE AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE, (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.</span>
					</div>
					<div id="DIV_760">
						<span id="SPAN_761"></span>
					</div>
					<div id="DIV_762">
						<a name="_4pjah3d0455q" id="A_763"></a><strong id="STRONG_764"><span id="SPAN_765">LIMITATIONS OF LIABILITY</span></strong>
					</div>
					<div id="DIV_766">
						<span id="SPAN_767"></span>
					</div>
					<div id="DIV_768">
						<span id="SPAN_769">IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</span>
						<bdt id="BDT_770">
							<bdt id="BDT_771">
								<bdt id="BDT_772">
								</bdt>
								<bdt id="BDT_773">
									NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO
									<bdt id="BDT_774">
										<bdt id="BDT_775">
											<bdt id="BDT_776">
											</bdt>
											<bdt id="BDT_777">
												THE AMOUNT PAID, IF ANY, BY YOU TO US
												<bdt id="BDT_778">
													<bdt id="BDT_779">
														<bdt id="BDT_780">
														</bdt>
														<bdt id="BDT_781">
															 <span id="SPAN_782">DURING THE</span>
															<bdt id="BDT_783">
																six (6)
															</bdt> mONTH PERIOD PRIOR TO ANY CAUSE OF ACTION ARISING
														</bdt>
													</bdt>
													<bdt id="BDT_784">
													</bdt>
												</bdt>
											</bdt>
										</bdt>
										<bdt id="BDT_785">
											<bdt id="BDT_786">
											</bdt>
										</bdt>. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
									</bdt>
								</bdt>
								<bdt id="BDT_787">
								</bdt>
							</bdt>
						</bdt>
					</div>
					<div id="DIV_788">
						<span id="SPAN_789"></span>
					</div>
					<div id="DIV_790">
						<a name="_k5ap68aj1dd4" id="A_791"></a><strong id="STRONG_792"><span id="SPAN_793">INDEMNIFICATION</span></strong>
					</div>
					<div id="DIV_794">
						<span id="SPAN_795"></span>
					</div>
					<div id="DIV_796">
						<span id="SPAN_797">You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of:</span>
						<bdt id="BDT_798">
							<bdt id="BDT_799">
								<bdt id="BDT_800">
								</bdt>
								<bdt id="BDT_801">
									(1) your Contributions;
								</bdt>
							</bdt>
							<bdt id="BDT_802">
							</bdt>
						</bdt>(<span id="SPAN_803">2</span>) use of the Site; (<span id="SPAN_804">3</span>) breach of these Terms of Use; (<span id="SPAN_805">4</span>) any breach of your representations and warranties set forth in these Terms of Use; (<span id="SPAN_806">5</span>) your violation of the rights of a third party, including but not limited to intellectual property rights; or (<span id="SPAN_807">6</span>) any overt harmful act toward any other user of the Site with whom you connected via the Site. Notwithstanding the foregoing, we reserve the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us, and you agree to cooperate, at your expense, with our defense of such claims. We will use reasonable efforts to notify you of any such claim, action, or proceeding which is subject to this indemnification upon becoming aware of it.<span id="SPAN_808"></span>
					</div>
					<div id="DIV_809">
						<span id="SPAN_810"></span>
					</div>
					<div id="DIV_811">
						<a name="_ftgg17oha0ep" id="A_812"></a><strong id="STRONG_813"><span id="SPAN_814">USER DATA</span></strong>
					</div>
					<div id="DIV_815">
						<span id="SPAN_816"></span>
					</div>
					<div id="DIV_817">
						<span id="SPAN_818">We will maintain certain data that you transmit to the Site for the purpose of managing the performance of the Site, as well as data relating to your use of the Site. Although we perform regular routine backups of data, you are solely responsible for all data that you transmit or that relates to any activity you have undertaken using the Site. You agree that we shall have no liability to you for any loss or corruption of any such data, and you hereby waive any right of action against us arising from any such loss or corruption of such data.</span>
					</div>
					<div id="DIV_819">
						<span id="SPAN_820"></span>
					</div>
					<div id="DIV_821">
						<a name="_dkovrslqodui" id="A_822"></a><strong id="STRONG_823"><span id="SPAN_824">ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</span></strong>
					</div>
					<div id="DIV_825">
						<span id="SPAN_826"></span>
					</div>
					<div id="DIV_827">
						<span id="SPAN_828">Visiting the Site, sending us emails, and completing online forms constitute electronic communications. You consent to receive electronic communications, and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communication be in writing. YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE. You hereby waive any rights or requirements under any statutes, regulations, rules, ordinances, or other laws in any jurisdiction which require an original signature or delivery or retention of non-electronic records, or to payments or the granting of credits by any means other than electronic means.</span>
					</div>
					<div id="DIV_829">
						<span id="SPAN_830"></span>
					</div>
					<div id="DIV_831">
						<a name="_cem9cu2usl7k" id="A_832"></a><strong id="STRONG_833"><span id="SPAN_834">CALIFORNIA USERS AND RESIDENTS</span></strong>
					</div>
					<div id="DIV_835">
						<span id="SPAN_836"></span>
					</div>
					<div id="DIV_837">
						<span id="SPAN_838">If any complaint with us is not satisfactorily resolved, you can contact the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs in writing at 1625 North Market Blvd., Suite N 112, Sacramento, California 95834 or by telephone at (800) 952-5210 or (916) 445-1254.</span>
					</div>
					<div id="DIV_839">
						<span id="SPAN_840"></span>
					</div>
					<div id="DIV_841">
						<a name="_d4jvmcnxg0wt" id="A_842"></a><strong id="STRONG_843"><span id="SPAN_844">MISCELLANEOUS</span></strong>
					</div>
					<div id="DIV_845">
						<span id="SPAN_846"></span>
					</div>
					<div id="DIV_847">
						<span id="SPAN_848">These Terms of Use and any policies or operating rules posted by us on the Site or in respect to the Site constitute the entire agreement and understanding between you and us. Our failure to exercise or enforce any right or provision of these Terms of Use shall not operate as a waiver of such right or provision. These Terms of Use operate to the fullest extent permissible by law. We may assign any or all of our rights and obligations to others at any time. We shall not be responsible or liable for any loss, damage, delay, or failure to act caused by any cause beyond our reasonable control. If any provision or part of a provision of these Terms of Use is determined to be unlawful, void, or unenforceable, that provision or part of the provision is deemed severable from these Terms of Use and does not affect the validity and enforceability of any remaining provisions. There is no joint venture, partnership, employment or agency relationship created between you and us as a result of these Terms of Use or use of the Site. You agree that these Terms of Use will not be construed against us by virtue of having drafted them. You hereby waive any and all defenses you may have based on the electronic form of these Terms of Use and the lack of signing by the parties hereto to execute these Terms of Use.</span>
					</div>
					<div id="DIV_849">
						<span id="SPAN_850"></span>
					</div>
					<div id="DIV_851">
						<a name="_t4pq5cwn486q" id="A_852"></a><strong id="STRONG_853"><span id="SPAN_854"><span id="SPAN_855">CONTACT US</span></span></strong>
					</div>
					<div id="DIV_856">
						<span id="SPAN_857"></span>
					</div>
					<div id="DIV_858">
						<span id="SPAN_859">In order to resolve a complaint regarding the Site or to receive further information regarding use of the Site, please contact us at:</span>
					</div>
					<div id="DIV_860">
						<span id="SPAN_861"></span>
					</div>
					<div id="DIV_862">
						<span id="SPAN_863"></span>
						<bdt id="BDT_864">
							<strong id="STRONG_865">Evolutionary Virtual Assistant VE</strong>
						</bdt> <span id="SPAN_866"><strong id="STRONG_867"><span id="SPAN_868"></span></strong></span>
						<bdt id="BDT_869">
						</bdt>
					</div>
					<div id="DIV_870">
						<span id="SPAN_871"><strong id="STRONG_872"><span id="SPAN_873"></span></strong></span>
						<bdt id="BDT_874">
							4771 Campus Dr
						</bdt>
						<bdt id="BDT_875">
						</bdt>
						<bdt id="BDT_876">
						</bdt>
					</div>
					<div id="DIV_877">
						<span id="SPAN_878"><strong id="STRONG_879"><span id="SPAN_880"></span></strong></span>
						<bdt id="BDT_881">
							Irvine
						</bdt>
						<bdt id="BDT_882">
						</bdt><strong id="STRONG_883"><span id="SPAN_884"></span></strong>
						<bdt id="BDT_885">
						</bdt>,
						<bdt id="BDT_886">
							CA
						</bdt>
						<bdt id="BDT_887">
						</bdt><strong id="STRONG_888"><span id="SPAN_889"></span></strong>
						<bdt id="BDT_890">
						</bdt><strong id="STRONG_891"><span id="SPAN_892"></span></strong>
						<bdt id="BDT_893">
						</bdt> <span id="SPAN_894"><strong id="STRONG_895"><span id="SPAN_896"></span></strong></span>
						<bdt id="BDT_897">
							92612
						</bdt>
						<bdt id="BDT_898">
						</bdt>
						<bdt id="BDT_899">
						</bdt>
						<bdt id="BDT_900">
						</bdt>
						<bdt id="BDT_901">
						</bdt>
					</div>
					<div id="DIV_902">
						<span id="SPAN_903"><strong id="STRONG_904"><span id="SPAN_905"></span></strong></span>
						<bdt id="BDT_906">
							United States
						</bdt>
						<bdt id="BDT_907">
						</bdt>
						<bdt id="BDT_908">
						</bdt>
						<bdt id="BDT_909">
						</bdt>
					</div>
					<div id="DIV_910">
						<span id="SPAN_911"><strong id="STRONG_912"><span id="SPAN_913">Phone:</span></strong> <strong id="STRONG_914"><span id="SPAN_915"><span id="SPAN_916"></span></span></strong></span>
						<bdt id="BDT_917">
							(949) 216-0803
						</bdt> <span id="SPAN_918"><strong id="STRONG_919"><span id="SPAN_920"></span></strong></span>
						<bdt id="BDT_921">
						</bdt>
					</div>
					<div id="DIV_922">
						<span id="SPAN_923"></span>
						<bdt id="BDT_924">
							<strong id="STRONG_925">contact@yk3music.com</strong>
						</bdt>
					</div>
				</bdt>
			</div>
			<style id="STYLE_926">ul {
        list-style-type: square;
      }
      ul > li > ul {
        list-style-type: circle;
      }
      ul > li > ul > li > ul {
        list-style-type: square;
      }
      ol li {
        font-family: Arial ;
      }
			</style>
		</div>
</div>
</body></html>