<div class="interior_inner row" id='about-us-doge'>
        <div class="col-lg-6">
                <img class="img-fluid" src="/img/about-us/teamphoto-crop-min.webp" alt="" style='border-radius:5px;padding:9px;' class="lazyload">
            </div>
    <div class="col-lg-6">
        <div class="interior_text">
            <h4>Hello from Eva!</h4>
            <p class='hej-gavin' style='margin-bottom: 5px;margin-left:10px;margin-right:10px;'>We are a diverse team of creators, makers, builders, and students at University High School in the Virtual Enterprise program. Our platform was created after the need for better access to mental health professionals in a broken healthcare system. Our Tutoring app connects students to high-quality personalized 1:1 tutoring after asking peers what was missing from school. We call it Eva. They call it "Digital Aristotle". All our projects are open source, and we intend to keep it that way.</p>
            <a class="main_btn" href="/team" style=' margin-bottom: 10px;' >Our People</a>
        </div>
    </div>
</div>