<!--================Download App Area EJS =================-->
<section class="download_app_area p_120">
    <div class="container">
        <div class="app_inner">
            <h2>Download This App Today!</h2>
            <p></p>
            <div class="app_btn_area">
                <div class="app_btn">
                    <div class="media">
                        <div class="d-flex">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <a href="https://altstore.io/"><h4>Available</h4></a>
                            <p>on App Store</p>
                        </div>
                    </div>
                </div>
                <div class="app_btn">
                    <div class="media">
                        <div class="d-flex">
                            <i class="fa fa-android" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <a href="https://app.evaapp.xyz/"><h4>Available</h4></a>
                            <p>on App Store</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!--================End Download App EJS =================-->
