<!--Feature Area EJS-->
<section class="feature_area p_120" id="feature">
    <div class="container">
        <div class="main_title">
            <h2>Unique Features</h2>
            <p>-Both tutoring and therapy</p>
        </div>
        <div class="feature_inner row">
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>Virtual Assistant</h4>
                    <p>Our revolutionary virtual assistant, Eva, will help you navigate the app and find out where you need to go and who you need to talk to.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>Both Tutoring and Therapy</h4>
                    <p>Today, students are put under academic pressure which leads to mental health problems and stress. This is why EVA tries to solve not only the symptom but the cause.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>Maintenance</h4>
                    <p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>Maintenance</h4>
                    <p>inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Feature Area EJS end-->
