<!--Feature Area EJS-->
<section class="feature_area p_120" id="feature">
    <div class="container">
        <div class="main_title">
            <h2>Unique Features</h2>
        </div>
        <div class="feature_inner row">
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>Eva CBT Chatbot</h4>
                    <p>Our machine learning based chatbot Eva is a Cognitive Behavioral Therapy coach modeled after real therapists to encourage patients to think critically about situations, reduce stressful situations, and increase self-compassion.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>Both Tutoring and Therapy</h4>
                    <p>Today, students are put under academic pressure which leads to mental health problems and stress. This is why EVA tries to solve not only the symptom but the cause.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>Inexpensive</h4>
                    <p>Therapy is often prohibitively expensive for those who need it the most, Eva plans to fix this by lowering the personnal cost associated with therapy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="/img/icon/f-icon-1.png" alt="">
                    <h4>The Best You Can Be</h4>
                    <p>EVA helps those who need help to become the best person that they can possibly be. Compassion is a key moral emotion  or motivation 
that deserves to be further explored through positive computing, or technology for well-being. Self-compassion can help
people’s overall well-being through kindness towards
oneself, connectedness to greater humanity, and mindfulness.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Feature Area EJS end-->
