<!-- EJS Banner -->
<section class="home_banner_area" id="home">
    <div class="banner_inner">
        <div class="container">
            <div class="row banner_content">
                <div class="col-lg-9">
                    <h2>Tutoring and Therapy<br />At your fingertips</h2>
                    <p>Be the best version of yourself you can be.</p>
                    <a class="banner_btn" href="#">Explore Now</a>
                </div>
                <!--<div class="col-lg-3">
                    <div class="banner_map_img">
                        <img class="img-fluid" src="/img/banner/right-mobile.png" alt="">
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>
<!--EJS Banner End-->
