<!--latest news ejs-->
    <section class="latest_news_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Latest News</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        </div>
        <div class="latest_news_inner row">
            <div class="col-lg-4">
                <div class="l_news_item">
                    <a class="date" href="#">10 April, 2018</a>
                    <a href="#"><h4>Benjamin Franklin Method Of Habit Formation</h4></a>
                    <p>There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their </p>
                    <div class="post_view">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 4.5k Views</a>
                        <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> 07</a>
                        <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> 362</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="l_news_item">
                    <a class="date" href="#">10 April, 2018</a>
                    <a href="#"><h4>Benjamin Franklin Method Of Habit Formation</h4></a>
                    <p>There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their </p>
                    <div class="post_view">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 4.5k Views</a>
                        <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> 07</a>
                        <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> 362</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="l_news_item">
                    <a class="date" href="#">10 April, 2018</a>
                    <a href="#"><h4>Benjamin Franklin Method Of Habit Formation</h4></a>
                    <p>There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their </p>
                    <div class="post_view">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 4.5k Views</a>
                        <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> 07</a>
                        <a href="#"><i class="fa fa-reply" aria-hidden="true"></i> 362</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--latest news ejs end-->
