        <!--================Price Area EJS =================-->
        <section class="price_area p_120" id="price">
    <div class="container">
        <div class="main_title">
            <h2>Pricing Table</h2>
            <p></p>
        </div>
        <div class="price_item_inner row">
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-centre">
                            <h3>Option 1</h3>
<<<<<<< HEAD
                            <p>For those want it all</p>
=======
                            <p>For those who want it all</p>
>>>>>>> thanos
                        </div>
                        <div class="float-right">
                            <h2>$55/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="#">Unlimited access to our therapists*</a></li>
                            <li><a href="#">Unlimited access to our therapy videos</a></li>
                            <li><a href="#">Referral to local professsionals</a></li>
                            <li><a href="#">Mindfulness planning</a></li>
                            <li><a href="#">*not licenced therapists</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="#">Purchase Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 2</h3>
                            <p>For those who need someone to talk to</p>
                        </div>
                        <div class="float-right">
                            <h2>$40/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="#">Unlimited talk with therapists</a></li>
                            <li><a href="#">Full access to our therapy videos.</a></li>
                            <li><a href="#">*not licenced therapists</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="#">Purchase Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 3</h3>
                            <p>For students who need help</p>
                        </div>
                        <div class="float-right">
                            <h2>$25/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="#">Unlimited access to tutors</a></li>
                            <li><a href="#">Unlimited access to our tutroring videos in 30+ subjects</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="#">Purchase Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
        <!--================End Price Area EJS =================-->
