        <!--================Price Area EJS =================-->
        <section class="price_area p_120" id="price">
    <div class="container">
        <div class="main_title">
            <h2>Pricing Table</h2>
            <p>These prices are for ve purposes only, our service does not request or require payment from users</p>
        </div>
        <div class="price_item_inner row">
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-centre">
                            <h3>Option 1</h3>
                            <p>For those want it all.</p>
                        </div>
                        <div class="float-right">
                            <h2>$220/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited access to our therapists*</a></li>
                            <li><a href="">Unlimited access to our therapy videos</a></li>
                            <li><a href="">Referral to local professsionals</a></li>
                            <li><a href="">Mindfulness planning</a></li>
                            <li><a href="">*not licenced therapists</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/tradeshowpos/dbf7b964-dcf2-4bae-99e0-9e125f51df70/newsale/" target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div clas="float-left">
                            <h3>Option 1 Yearly</h3>
                        </div>
                        <div class="float-right">
                            <h2>$100/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                           <li><a href="">Unlimited access to our therapists*</a></li>
                           <li><a href="">Unlimited access to our therapy videos</a></li>
                           <li><a href="">Referral to local professsionals</a></li>
                           <li><a href="">Mindfulness planning</a></li>
                           <li><a href="">*not licenced therapists</a></li>
                        </ul>
                     </div>
                     <div class='price_footer'>
                        <a class="main_btn2" href="" target="_blank">Purchase Here</a>
                     </div>
                  </div>
               </div>
                
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 2</h3>
                            <p>For those who need someone to talk to</p>
                        </div>
                        <div class="float-right">
                            <h2>$150/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited talk with therapists</a></li>
                            <li><a href="">Full access to our therapy videos.</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/tradeshowpos/dbf7b964-dcf2-4bae-99e0-9e125f51df70/newsale/" target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 3</h3>
                            <p>For students who need help</p>
                        </div>
                        <div class="float-right">
                            <h2>$120/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited access to tutors</a></li>
                            <li><a href="">Unlimited access to our tutroring videos in 30+ subjects</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/tradeshowpos/dbf7b964-dcf2-4bae-99e0-9e125f51df70/newsale/"  target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
        <!--================End Price Area EJS =================-->
