<!DOCTYPE html>
<html lang="en">
    <head>
         <%# include materialheadcdn.ejs %>
        <% include ../includes/metatags.ejs %>   
		<% include ../includes/bootstrap-hydrogen.ejs %>
		<title>Eva | Pricing</title>
		<meta name="Description" content="Eva: Online Tutoring and Therapy App, Edu App.">
                <!-- main css -->
                <link rel="stylesheet" href="/css/style.css">
				<link rel="stylesheet" href="/css/responsive.css">
				<link rel="stylesheet" href="/css/stark.css">
		 
		<!--Drift Chat Plugin-->
		<%# include includes/drift-insert.ejs %>
    </head>
    <body data-spy="scroll" data-target="#mainNav" data-offset="70">
        
		<!--================Header Menu Area =================-->
		<% include ../includes/header-menu.ejs %>

       <p>Our products are 100% free and open source, and thus service does not request or require payment from users. These prices relect the Virtual Enterprise Education program sales for our classroom.</p>
	   <p>For our source code, technical papers, and documenation, check out our Github. Our app is free to test at <a href='https://app.evaapp.xyz/'>app.evaapp.xyz</a></p>
        

<!--================Price Area EJS =================-->
        <section class="price_area p_120" id="price">
    <div class="container">
        <div class="main_title">
            <h2>Pricing Table</h2>
            <p>These prices are for ve purposes only, our service does not request or require payment from users</p>
        </div>
        <div class="price_item_inner row">
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-centre">
                            <h3>Option 1</h3>
                            <p>For those want it all.</p>
                        </div>
                        <div class="float-right">
                            <h2>$220/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited access to our therapists*</a></li>
                            <li><a href="">Unlimited access to our therapy videos</a></li>
                            <li><a href="">Referral to local professsionals</a></li>
                            <li><a href="">Mindfulness planning</a></li>
                            <li><a href="">*not licenced therapists</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoring-therapy-1/" target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div clas="float-left">
                            <h3>Option 1 Yearly</h3>
                        </div>
                        <div class="float-right">
                            <h2>$183/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                           <li><a href="">Unlimited access to our therapists*</a></li>
                           <li><a href="">Unlimited access to our therapy videos</a></li>
                           <li><a href="">Referral to local professsionals</a></li>
                           <li><a href="">Mindfulness planning</a></li>
                           <li><a href="">*not licenced therapists</a></li>
                        </ul>
                     </div>
                     <div class='price_footer'>
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoring-therapyyearly-28/" target="_blank">Purchase Here</a>
                     </div>
                  </div>
               </div>
                
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 2</h3>
                            <p>For those who need someone to talk to</p>
                        </div>
                        <div class="float-right">
                            <h2>$150/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited talk with therapists</a></li>
                            <li><a href="">Full access to our therapy videos.</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/therapy-2/" target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 2 Yearly</h3>
                            <p>For those who need someone to talk to</p>
                        </div>
                        <div class="float-right">
                            <h2>$125/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited talk with therapists</a></li>
                            <li><a href="">Full access to our therapy videos.</a></li>
                            <li><a href="">*billed yearly</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/therapyyearly-26/" target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 3</h3>
                            <p>For students who need help</p>
                        </div>
                        <div class="float-right">
                            <h2>$120/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited access to tutors</a></li>
                            <li><a href="">Unlimited access to our tutroring videos in 30+ subjects</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoring-3/"  target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3>Option 3 Yearly</h3>
                            <p>For students who need help</p>
                        </div>
                        <div class="float-right">
                            <h2>$100/mo</h2>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited access to tutors</a></li>
                            <li><a href="">Unlimited access to our tutroring videos in 30+ subjects</a></li>
                            <li><a href="">*billed yearly</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoringyearly-27/" target="_blank">Purchase Here</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
        
        <!--================End Price Area EJS =================-->


        <!--================ start footer Area  =================-->	
		<% include ../includes/footer-area.ejs %>
		<!--================ End footer Area  =================-->
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stellar.js"></script>
        <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope-min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/vendors/counter-up/jquery.counterup.js"></script>
        <script src="/js/mail-script.js"></script>
        <script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
		<script src="/js/theme.js"></script>
		<style>
		html, body {
    max-width: 100%;
  	  overflow-x: hidden;
	}
		</style>
		<%# include includes/g-analytics.ejs %>
		<script src='/js/lazysizes.min.js' async></script>
    </body>
</html>
