<!DOCTYPE html>
<html lang="en">
    <head>
         <%# include materialheadcdn.ejs %>
        <% include ../includes/metatags.ejs %>   
		<% include ../includes/bootstrap-hydrogen.ejs %>
		<title>Eva | Pricing</title>
		<meta name="Description" content="Eva: Online Tutoring and Therapy App, Edu App.">
                <!-- main css -->
                <link rel="stylesheet" href="/css/style.full.dark.css">
				<link rel="stylesheet" href="/css/responsive-pricing.css">
				<link rel="stylesheet" href="/css/stark.css">
		 
     <style>
     body {
       background-color: #202125;
     }

      #f8f8f8 {
        background-color: #202125;
      }

      .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background-image: -moz-linear-gradient(0deg,#424242 0%,#424242 100%);
    background-image: -webkit-linear-gradient(0deg,#424242 0%,#424242 100%);
    background-image: -ms-linear-gradient(0deg,#424242 0%,#424242 100%);
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: background 500ms ease,-webkit-transform 500ms ease;
    transition: background 500ms ease,-webkit-transform 500ms ease;
    -o-transition: transform 500ms ease,background 500ms ease;
    transition: transform 500ms ease,background 500ms ease;
    transition: transform 500ms ease,background 500ms ease,-webkit-transform 500ms ease;
    -webkit-transition: transform 500ms ease,background 500ms ease;
    -webkit-box-shadow: 0 3px 16px 0 rgba(0,0,0,0.1);
    box-shadow: 0 3px 16px 0 rgba(0,0,0,0.1);
}

@media (max-width: 991px) {
.header_area .navbar {
    background-color: #424242;
}}

.price_item { background: #292929;

}

.boldprice {
   color: #fff;
}
     </style>
		<!--Drift Chat Plugin-->
		<%# include includes/drift-insert.ejs %>
    </head>
    <body data-spy="scroll" data-target="#mainNav" data-offset="70">
        
		<!--================Header Menu Area =================-->
		<% include ../includes/header-menu.ejs %>

<div style='margin: 0 auto; max-width: 1200px;    padding: 0 16px 16px 16px;'>
<div style='padding-top: 100px;'>
<div style='color: #E0E0E0;padding: 12px 16px 12px 16px; background: #303030; border-color: #E0E0E0; border-radius: 5px; border-width: 1px;'>
       <p>Our products are 100% free and open source, and thus service does not request or require payment from users. These prices relect the Virtual Enterprise Education program sales for our classroom.</p>
	   <p>For our source code, technical papers, and documenation, check out our Github. Our app is free to test at <a href='https://app.evaapp.xyz/'>app.evaapp.xyz</a></p>
     </div>
        </div>

<!--================Price Area EJS =================-->
      <section class="price_area p_120" id="price" style="background-color: #202125;">
    <div class="container">
        <div class="main_title">
            <h2 style='color: #FAFAFA'>Choose the price that's right for you.</h2>
            <p style='color: #E0E0E0'>Pay by month or the year, and cancel at any time.</p>
        </div>
        <div class="price_item_inner row">
	 <div class="col-lg-4" style='background: #292929'>
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3 style='font-size: 22px;' class='boldprice' style='color: #fff;'>Eva Therapy</h3>
                            <p style="color: #E0E0E0">For those who need someone to talk to</p>
                        </div>
                        <div class="float-left">
                            <h2 style='font-size: 22px;' class='boldprice'  style='color: #fff;'>$125/mo</h2>
                            <p style="color: #E0E0E0"> per month, billed yearly<br><strong>$150</strong>/mo when billed monthly</strong> </p>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited talk with therapists</a></li>
                            <li><a href="">Full access to our therapy videos.</a></li>
                            <li><a href="">Meditation audio and walkthroughs</a></li>
                                                       <li><a href="">Referral to local professsionals</a></li>
                                                       <li><a href="">Eva CBT Chatbot</a></li>
                                                       <li><a href="">Eva Student Planner</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/therapyyearly-26/" target="_blank" style="margin-bottom: 10px;">Purchase Yearly</a>
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/therapy-2/" target="_blank" style="
    padding-right: 40px;
    padding-left: 40px;">Purchase Monthly</a>

                    </div>
                </div>
            </div>
	
            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div clas="float-left">
                            <h3 style='font-size: 22px;'>Eva Bundle</h3>
                            <p style="color: #E0E0E0"> For those who want it all </p>
                        </div>
                        <div class="float-left">
                            <h2 style='font-size: 22px;'>$183/mo</h2>
                            <p style="color: #E0E0E0"> per month, billed yearly<br><strong>$220</strong>/mo when billed monthly</strong> </p>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                           <li><a href="">Unlimited access to our therapists</a></li>
                           <li><a href="">Unlimited access to our therapy videos</a></li>
                           <li><a href="">Referral to local professsionals</a></li>
                           <li><a href="">Mindfulness planning</a></li>
                          <li><a href="">Eva CBT Chatbot</a></li>
                           <li><a href="">Meditation audio and walkthroughs</a></li>
                           <li><a href="">Eva Student Planner</a></li>
                        </ul>
                     </div>
                     <div class='price_footer'>
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoring-therapyyearly-28/" target="_blank" style="margin-bottom: 10px;">Purchase Yearly</a>
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoring-therapy-1/" target="_blank"  style="
    padding-right: 40px;
    padding-left: 40px;">Purchase Monthly</a>
                     </div>
                  </div>
               </div>
	       
           

            <div class="col-lg-4">
                <div class="price_item">
                    <div class="price_head">
                        <div class="float-left">
                            <h3 style='font-size: 22px;'>Eva Tutoring</h3>
                            <p style="color: #E0E0E0">For students who need help</p>
                        </div>
                        <div class="float-left">
                            <h2 style='font-size: 22px;'>$100/mo</h2>
                            <p style="color: #E0E0E0"> per month, billed yearly<br><strong>$120</strong>/mo when billed monthly</strong> </p>
                        </div>
                    </div>
                    <div class="price_body">
                        <ul class="list">
                            <li><a href="">Unlimited access to tutors</a></li>
                            <li><a href="">Unlimited access to our tutoring videos in 60+ subjects</a></li>
                            <li><a href="">Eva Student Planner</a></li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoringyearly-27/" target="_blank" style="margin-bottom: 10px;">Purchase Yearly</a>
                        <a class="main_btn2" href="https://portal.veinternational.org/buybuttons/us021809/btn/tutoring-3/" target="_blank"  style="
    padding-right: 40px;
    padding-left: 40px;">Purchase Monthly</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
        
        <!--================End Price Area EJS =================-->
</div>

        <!--================ start footer Area  =================-->	
		<% include ../includes/footer-area.ejs %>
		<!--================ End footer Area  =================-->
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stellar.js"></script>
        <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope-min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/vendors/counter-up/jquery.counterup.js"></script>
        <script src="/js/mail-script.js"></script>
        <script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
		<script src="/js/theme.js"></script>
		<style>
		html, body {
    max-width: 100%;
  	  overflow-x: hidden;
	}
		</style>
		<script src='/js/lazysizes.min.js' async></script>
    </body>
</html>
