<!DOCTYPE html>
<html lang="en">
    <head>
         <%# include materialheadcdn.ejs %>
        <% include ../includes/metatags.ejs %>   
		<% include ../includes/bootstrap-hydrogen.ejs %>
		<title>Eva | Tutoring on Demand | Online Therapy & Counseling Online</title>
		<meta name="Description" content="Eva: Online Tutoring and Therapy App, Edu App.">
                <!-- main css -->
                <link rel="stylesheet" href="/css/style.css">
				<link rel="stylesheet" href="/css/responsive.css">
				<link rel="stylesheet" href="/css/stark.css">
		 
		<!--Drift Chat Plugin-->
		<%# include includes/drift-insert.ejs %>
    </head>
    <body data-spy="scroll" data-target="#mainNav" data-offset="70">
        
		<!--================Header Menu Area =================-->
		<% include ../includes/header-menu.ejs %>

       <p>Our products are 100% free and open source. These prices relect the Virtual Enterprise Education program sales for our classroom.</p>
	   <p>For our source code, technical papers, and documenation, check out our Github. Our app is free to test at <a href='https://app.evaapp.xyz/'>app.evaapp.xyz</a></p>
        
        <!--================ start footer Area  =================-->	
		<% include ../includes/footer-area.ejs %>
		<!--================ End footer Area  =================-->
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stellar.js"></script>
        <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope-min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/vendors/counter-up/jquery.counterup.js"></script>
        <script src="/js/mail-script.js"></script>
        <script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
		<script src="/js/theme.js"></script>
		<style>
		html, body {
    max-width: 100%;
  	  overflow-x: hidden;
	}
		</style>
		<%# include includes/g-analytics.ejs %>
		<script src='/js/lazysizes.min.js' async></script>
    </body>
</html>
